extend /_layout.pug

block head
	- const title = "język"
	- const titleLanguage = "isv"

block main
	ul
		li: a(href="https://smiqy.github.io/interslavic-analytic/dist/") interslavic analytic
