extend /_layout.pug

block head
	- const title = "armenian"
	- const tags = ["draft"]

block main
	.textareas
		textarea(lang="hy")#0.
			# ՄԱՐԴՈՒ ԻՐԱՎՈՒՆՔՆԵՐԻ ՀԱՄԸՆԴՀԱՆՈՒՐ ՀՌՉԱԿԱԳԻՐ

			## Հոդված 1
			Բոլոր մարդիկ ծնվում են ազատ ու հավասար իրենց արժանապատվությամբ ու իրավունքներով։ Նրանք ունեն բանականություն ու խիղճ և միմյանց պետք է եղբայրաբար վերաբերվեն։

			Հոդված 2
			Յուրաքանչյուր ոք ունի սույն Հռչակագրում ամրագրված բոլոր իրավունքներն ու
			ազատությունները՝ առանց որևէ տարբերակման այնպիսի հիմքերով, ինչպիսիք են ռասան,
			մաշկի գույնը, սեռը, լեզուն, կրոնը, քաղաքական կամ այլ համոզմունքը, ազգային կամ
			սոցիալական ծագումը, գույքային դրությունը, ծնունդը կամ այլ կարգավիճակ:

			Ավելին, չպետք է կատարվի որևէ տարբերակում՝ ելնելով այն երկրի կամ
			տարածքի քաղաքական, իրավական կամ միջազգային կարգավիճակից, որին
			պատկանում է անձը, լինի այն անկախ, խնամարկյալ, ոչ ինքնավար կամ
			ինքնիշխանության որևէ այլ սահմանափակումով:

		textarea#1

	table.c.center
		tr
			th(rowspan=2) vowel
			td
			td.hy i
			td.hy e
			td.hy a
			td.hy o
			td.hy
		tr
			td
			td
			td.hy ẹ
			td
			td.hy ọ
			td.hy
		tr
			th
			th.v glottal
			th.v velar
			th.v palatal
			th(colspan=2).v dental
			th.v labial
		tr
			th tenuis
			td
			td.hy k
			td.hy ṭ
			td.hy c
			td.hy t
			td.hy p
		tr
			th aspirated
			td
			td.hy k'
			td.hy ṭ'
			td.hy c'
			td.hy t'
			td.hy p'
		tr
			th voiced
			td
			td.hy g
			td.hy ḍ
			td.hy ʒ
			td.hy d
			td.hy b
		tr
			th fricative
			td.hy h
			td.hy x
			td.hy ṣ
			td.hy s
			td.hy
			td.hy f
		tr
			th voiced fricative
			td
			td
			td.hy ẓ
			td.hy z
			td.hy
			td.hy w
		tr
			th nasal
			td
			td
			td
			td.hy n
			td
			td.hy m
		tr
			th(rowspan=2) approximant
			td
			td
			td.hy j
			td.hy l
			td.hy r
			td
		tr
			td
			td
			td
			td.hy ḷ
			td.hy ṛ
			td
