extend /_layout.pug

block head
	- const title = "armenian"
	- const tags = ["draft"]

block main
	.textareas
		textarea(lang="hy")#0.
			# ՄԱՐԴՈՒ ԻՐԱՎՈՒՆՔՆԵՐԻ ՀԱՄԸՆԴՀԱՆՈՒՐ ՀՌՉԱԿԱԳԻՐ
			## Հոդված 1
			Բոլոր մարդիկ ծնվում են ազատ ու հավասար իրենց արժանապատվությամբ ու իրավունքներով։ Նրանք ունեն բանականություն ու խիղճ և միմյանց պետք է եղբայրաբար վերաբերվեն։
		textarea#1

	table.c.center
		tr
			th vowel
			td
			td.hy i
			td.hy e
			td.hy a
			td.hy o
			td.hy u
		tr
			th
			th.v glottal
			th.v velar
			th.v palatal
			th(colspan=2).v dental
			th.v labial
		tr
			th tenuis
			td
			td.hy k
			td.hy ṭ
			td.hy ŧ
			td.hy t
			td.hy p
		tr
			th aspirated
			td
			td.hy k'
			td.hy ṭ'
			td.hy ŧ'
			td.hy t'
			td.hy p'
		tr
			th voiced
			td
			td.hy c
			td.hy ḍ
			td.hy đ
			td.hy d
			td.hy b
		tr
			th fricative
			td.hy h
			td.hy x
			td.hy ṣ
			td.hy s
			td.hy
			td.hy f
		tr
			th v. fricative
			td
			td.hy g
			td.hy ẓ
			td.hy z
			td.hy
			td.hy w
		tr
			th nasal
			td
			td
			td
			td.hy n
			td
			td.hy m
		tr
			th approximant
			td
			td
			td.hy j
			td.hy l
			td.hy y
			td
		tr
			th trill
			td
			td
			td
			td
			td r
			td
