extend /_layout.pug

mixin nsfw
	div.nsfw
		block

block head
	- const title = "personaž"
	- const titleLanguage = "isv"

block main
	ul
		li: a(href="suzuri") suzurı
		li: a(href="mitur") mıtur