mixin a_img(src, width)
	a(href=src)
		img(src=src, width=width)

mixin for_volunteer
	ul
		li 任意のfan artは#{id}に影響し, 二次創作でありながら一次創作となります
		li fan art (依頼外の作品) はどんな物も ({性, 獵奇}的な物も) 常に大いに{歡迎, 感謝}します. 擔し次の行爲を避ける樣に強く推奬します.
			ul
				li 檢索性を阻碍する伏せ字や暗號の使用
				li 特定の屬性の人間 (例へば女性, 非日本國籍者, 18歳未滿) に閲覽を禁止する差別行爲
				li 違憲である刑法175條に基づく性器の自主檢閲