extend /_layout.pug

mixin nsfw
	div.nsfw
		block

block head
	- const title = "character"

block main
	ul
		li: a(href="/suzuri-mituru") suzuri and mituru
			ul
				li: a(href="suzuri"): del suzuri
				li: a(href="mituru"): del mituru
