extend /_layout.pug

block head
  - const title = "phoenician"

block main
  table.center
    tr
      th phoenician
      td ğ¤€
      td ğ¤
      td(colspan=2) ğ¤‚
      td ğ¤ƒ
      td ğ¤„
      td(colspan=2) ğ¤…
      td ğ¤†
      td ğ¤‡
      td ğ¤ˆ
      td ğ¤‰
      td ğ¤Š
      td ğ¤‹
      td ğ¤Œ
      td ğ¤
      td ğ¤
      td ğ¤
      td ğ¤
      td ğ¤‘
      td(colspan=2) ğ¤’
      td ğ¤“
      td ğ¤”
      td ğ¤•
    tr
      th hebrew
      td ×
      td ×‘
      td(colspan=2) ×’
      td ×“
      td ×”
      td(colspan=2) ×•
      td ×–
      td ×—
      td ×˜
      td ×™
      td ×›
      td ×œ
      td ×
      td × 
      td ×¡
      td ×¢
      td ×¤
      td ×¦
      td(colspan=2) ×§
      td ×¨
      td ×©
      td ×ª
    tr
      th arabic
      td ïº Ø¡
      td ïº
      td(colspan=2) ïº
      td Ø¯ Ø°
      td Ù‡
      td(colspan=2) ï»­
      td ïº¯
      td Ø­ Ø®
      td Ø· Ø¸
      td ÙŠ
      td ï»™
      td ï»
      td ï»¡
      td ï»¥
      td
      td Ø¹ Øº
      td Ù
      td Øµ Ø¶
      td(colspan=2) ï»•
      td ïº­
      td Ø´ Ø³
      td Øª Ø«
    tr
      th greek
      td Î‘Î±
      td Î’Î²
      td(colspan=2) Î“Î³
      +tds(["Î”Î´", "Î•Îµ", "ÏœÏ", "Î¥Ï…", "Î–Î¶", "Î—Î·", "Î˜Î¸", "Î™Î¹", "ÎšÎº", "Î›Î»", "ÎœÎ¼", "ÎÎ½", "ÎÎ¾", "ÎŸÎ¿", "Î Ï€", "Í²Í³", "Ï˜Ï™", "Î¦Ï†", "Î¡Ï", "Î£Ïƒ", "Î¤Ï„", "Î§Ï‡", "Î¨Ïˆ", "Î©Ï‰"])
    tr
      th coptic
      td â²€â²
      td â²‚â²ƒ
      td(colspan=2) â²„â²…
      +tds(["â²†â²‡", "â²ˆâ²‰", ""  , "â²¨â²©", "â²Œâ²", "â²â²", "â²â²‘", "â²’â²“", "â²”â²•", "â²–â²—", "â²˜â²™", "â²šâ²›", "â²œâ²", "â²â²Ÿ", "â² â²¡", "", "Ï¤Ï¥", "â²ªâ²«", "â²¢â²£", "â²¤â²¥", "â²¦â²§", "â²¬â²­", "â²®â²¯", "â²°â²±"])
    tr
      th italic
      td ğŒ€
      td ğŒ
      td(colspan=2) ğŒ‚
      +tds(["ğŒƒ" , "ğŒ„" , "ğŒ…"  , "ğŒ–" , "ğŒ†"  , "ğŒ‡" , "ğŒˆ" , "ğŒ‰" , "ğŒŠ" , "ğŒ‹" , "ğŒŒ" , "ğŒ" , "ğŒ" , "ğŒ" , "ğŒ" , "ğŒ‘" , "ğŒ’", "ğŒ˜" , "ğŒ“" , "ğŒ”" , "	ğŒ•" , "ğŒ—" , "ğŒ™" , "ğŒš"])

    +thTrs([
      ["roman"     , "Aa", "Bb", "Cc", "Gg", "Dd", "Ee", "Ff", "Uu" , "Zz", "Hh", ""  , "Ii", "Kk", "Ll", "Mm", "Nn", ""  , "Oo", "Pp", ""  , "Qq", "", "Rr", "Ss", "Tt", "Xx", ""  , ""],
      ["gothic"    , "ğŒ°" , "ğŒ±" , "ğŒ²" , "ğŒ¾" , "ğŒ³" , "ğŒ´", "ğ† ğŒµ", "ğ…" , "ğŒ¶" , "ğŒ·" , "ğˆ" , "ğŒ¹" , "ğŒº" , "ğŒ»" , "ğŒ¼" , "ğŒ½" , ""  , "ğŒ¿", "ğ€" , ""  , ""  , "", "ğ‚" , "ğƒ" , "ğ„" , "ğ‡", "ğŒ¸" , "ğ‰"],
    ])
      //â²Š	â²‹
