extend /_layout.pug

block head
  - const title = "japanese"
  - const tags = ["draft"]

block main
  table
    +trs([
      "ã‚¢ ã‚¤ ã‚¦ ğ›€€ ã‚ª".split(" "),
      "a i u e o".split(" "),
    ])

  table
    +trs([
      "ã‚¢ ã‚« ã‚¬ ã‚µ ã‚¶ ã‚¿ ãƒ€ ãƒŠ ãƒ ãƒ ãƒ‘ ãƒ ãƒ¤ ãƒ© ãƒ¯".split(" "),
      "(h) k c s z t d n f b p m j l v".split(" "),
    ])

  table
    +trs([
ã€€    ["ã‚ã‚‹æ—¥ã®äº‹ã§ã”ã–ã„ã¾ã™ã€‚", "alu fi no koto de cozaimasu."],
      ["å¾¡é‡ˆè¿¦æ§˜ã¯æ¥µæ¥½ã®è“®æ± ã®ãµã¡ã‚’ã€", "o-SjaKa-sama fa CokLak no fasuike no futi vo,"],
      ["ç‹¬ã‚Šã§ã¶ã‚‰ã¶ã‚‰å¾¡æ­©ãã«ãªã£ã¦ã„ã‚‰ã£ã—ã‚ƒã„ã¾ã—ãŸã€‚", "fitoli de bulabula oalukini nalte ilassjai masita."],
      ["æ± ã®ä¸­ã«å’²ã„ã¦ã„ã‚‹è“®ã®èŠ±ã¯ã€", "ike no naka ni saite vilu fasu no fana fa"],
      ["ã¿ã‚“ãªç‰ã®ã‚ˆã†ã«ã¾ã£ç™½ã§ã€", "minna tama no Jag ni massilo de,"],
      ["ãã®ã¾ã‚“ä¸­ã«ã‚ã‚‹é‡‘è‰²ã®è•Šã‹ã‚‰ã¯ã€", "sono mannaka ni alu Kin-ilo no Zui kala fa"],
      ["ä½•ã¨ã‚‚äº‘ãˆãªã„å¥½ã„åŒ‚ãŒã€", "nan to mo ife nafi joi nifofi ca"],
      ["çµ¶é–“ãªãã‚ãŸã‚Šã¸æº¢ã‚Œã¦å±…ã‚Šã¾ã™ã€‚", "tafema naku atali fe afulete voli masu."],
      ["æ¥µæ¥½ã¯ä¸åº¦æœãªã®ã§ã”ã–ã„ã¾ã—ã‚‡ã†ã€‚", "CokLak fa TjagDo asa na no de cozaimaseu."],
    ])
