extend /_layout.pug

block head
  - const tags = ["draft"]

block main
  table
    +trs([
      ["begin", "fazimal-u", "å§‹ã‚‹"],
      ["let  begin", "fazime-lu", "å§‹ã‚ã‚‹"],

      ["end", "vofal-u", "çµ‚ã‚‹"],
      ["let end", "vofe-lu", "çµ‚ã¸ã‚‹"],

      ["let fall", "otos-u", "è½ã™"],
      ["fall", "oti-lu", "è½ã‚‹"],

      ["open", "ac-u", "é–‹ã"],
      ["let open", "ace-lu", "é–‹ã‚‹"],
      ["let open", "firac-u", "é–‹ã"],

      ["close", "simal-u", "é–‰ã‚‹"],
      ["let close", "sime-lu", "é–‰ã‚ã‚‹"],

      ["dye", "somal-u", "æŸ“ã‚‹"],
      ["let dye", "some-lu", "æŸ“ã‚ã‚‹"],

      ["enter", "il-u", "å…¥ã‚‹"],
      ["enter", "fail-u", "é€™å…¥ã‚‹"],
      ["let enter", "il-e-lu", "å…¥ã‚Œã‚‹"],

      ["let exit", "idas-u", "å‡ºã™"],
      ["exit", "ide-lu", "å‡ºã‚‹"],

      ["stick", "tuc-u", "é™„ã"],
      ["let stick", "tuc-e-lu", "é™„ã‚‹"],

      ["understand", "vacal-u", "åˆ†ã‚‹"],
      ["part", "vacale-lu", "åˆ†ã‚Œã‚‹"],
      ["let part", "vace-lu", "åˆ†ã‘ã‚‹"],


      ["let break", "cofas-u", "å£ã™"],
      ["break", "cofa-le-lu", "å£ã‚Œã‚‹"],

      ["let melt", "toc-u", "æº¶ã"],
      ["melt", "toce-lu", "æº¶ã‚‹"],


      ["exist", "!al-u", "åœ¨ã‚‹"],
      ["do", "!sul-u", "çˆ²ã‚‹"],
      ["do", "jal-u", "é£ã‚‹"],
      ["hold", "mot-u", "æŒã¤"],
      ["form", "nas-u", "åšã™"],
      ["make", "tucul-u", "ä½œã‚‹"],
      ["perform", "oconaf-u", "è¡Œãµ"],
      ["see", "mil-u", "è¦‹ã‚‹"],
      ["hear", "cic-u", "èã"],
      ["touch", "safal-u", "è§¸ã‚‹"],
      ["go", "juc-u", "å¾€ã"],
      ["come", "!cu-lu", "ä¾†ã‚‹"],
      ["eat", "tabe-lu", "é£Ÿã‚‹"],
      ["be insane", "culuf-u", "ç‹‚ãµ"],
      ["lay oneself", "ne-lu", "å¯¢ã‚‹"],
      ["complain", "cacot-u", "è¨—ã¤"],
      ["ask", "tadune-lu", "å°‹ã‚‹"],
      ["kick", "cel-u", "è¹´ã‚‹"],
      ["age", "oji-lu", "è€ğ›€†ã‚‹"],
      ["remain", "vi-lu", "å±…ã‚‹"],
      ["wear", "ci-lu", "ç€ã‚‹"],
      ["cut", "cil-u", "åˆ‡ã‚‹"],
      ["shoot", "ji-lu", "å°„ã‚‹"],
      ["feel", "oboje-lu", "è¦ºğ›€ã‚‹"],
      ["be intoxicated", "vef-u", "é…”ãµ"],
      ["get", "e-lu", "å¾—ã‚‹"],
      ["die", "sin-u", "æ­»ã¬"],
    ])