extend /_layout.pug

block head
	- const title = "latvian"
	- const tags = ["draft"]

block main
	a(href="https://unicode.org/udhr/d/udhr_lav.html") UDHR
	.textareas
		textarea.
			# VISPĀRĒJĀ CILVĒKA TIESĪBU DEKLARĀCIJA

			## 1. pants
			Visi cilvēki piedzimst brīvi un vienlīdzīgi savā pašcieņā un tiesībās. Viņi ir apveltīti ar saprātu un sirdsapziņu, un viņiem jāizturas citam pret citu brālības garā.

			2. pants
			Ikvienam ir tiesības uz visām šajā Deklarācijā pasludinātajām tiesībām un brīvībām, bez jebkāda veida atšķirības pēc rases, ādas krāsas, dzimuma, valodas, reliģijas, politiskās vai citas pārliecības, nacionālās vai sociālās izcelsmes, mantiskā stāvokļa, dzimšanas vai cita statusa.
			Turklāt nedrīkst noteikt nekādu atšķirību pēc tās valsts vai teritorijas, politiskā, tiesiskā vai starptautiskā statusa, pie kuras cilvēks pieder neatkarīgi no tā, vai šī teritorija ir neatkarīga, aizbildnībā esoša, bez pašpārvaldes vai kaut kā citādi ierobežota savā suverenitātē.
		textarea
