doctype html

mixin section(title)
  section
    h2= title
    block

mixin ruby(a, b)
  ruby
    | #{a}
    rt= b

html
  head
    style.
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

      body {
        margin: 0;
        padding: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Noto Serif JP", serif;
      }
      main {
        color: lightgray;
        text-orientation: upright;
        writing-mode: vertical-lr;
        background-color: #fff2;
        width: 1280px;
        height: 640px;
        padding: 2em;
        overflow-x: scroll;
        font-size: 12pt;
        ruby-align: start;
      }
      p {
        text-indent: 1em;
      }
  body
    main
      h1 本文
      +section("登場人物")
        dl
          dt: +ruby("墨", "すみ")
          dd 秋津大學學生。情報工學專攻。快樂主義者。
          dt
          dt: +ruby("盈", "みつる")
          dd 秋津大學大學院學生。數學專攻。寂しがり。

      +section("一二〇三一／一一九")
        p
