extend /_layout.pug

block main
  +mySection("thoughts")
    +mySection("性")
      p
        | （2019-08-14）
        | 性は少なくとも食と同じくらい公然とすべきだ。
        | 昨日の夕飯と同じくらい昨日の自慰について訊けるべきだし、
        | 誰と食べたかと同じくらい誰と寝たかを話せるべきだ。

    +mySection("婚姻")
      p
        | （2019-08-14）
        | 一対一・男対女に限定された婚姻制度は破壞されるべきだ。
        | 例えば私が植物状態にあって安楽死に同意できる人間が一人だけだったり異性だったりする必要は無い。

    +mySection("大麻")
      p
        | （2019-08-14）
        | 日本で大麻が解禁されない理由は単に歴史的なものでしかない。

    +mySection("生殖")
      p
        | （2019-08-14）
        | 人は基本的に苦しむものであり、苦しみの主体を生みだすことは合理化されない。

    +mySection("猥褻")
      p
        | （2019-08-14）
        | 刑法175条は違憲だし、違憲でなくても悪法だ。
        | 性的なことと不道徳なこととは全く関連しないし、
        | 性器表現から覆いを取って損なわれるものは無い。

    +mySection("安楽死")
      p
        | （2019-08-14）
        | 安楽死の権利は保障されるべきだ。
        | 死によってしか止められない苦しみが続くのを強制するのは拷問と異ならない。

    +mySection("自由意思")
      p
        | （2019-08-14）
        | 我々の意識は肉体と言う自動運転車に乗っている。
        | この車の進路が確定的であろうとなかろうと、我々が働きかけられないことに変わりは無い。
        | この車が事故を起こしても責任を我々に認めることはできない。
