extend /_layout.pug

block head
  - var title = "thoughts"

block main
  ul
    li 人を生むな. 生まれたら自殺せよ.
    li 畜産は滅ぼせ.
    li
      | 性を秘匿するな.
      | 昨日の自慰をは昨日の天氣の如く,
      | 性交の相手を食事の相手の如く話せ.
    li
      | 共同生活する男女をそれ以外の全てが支へる婚姻制度は滅ぼせ.
      | 但し破壞への過程で婚姻制度多對多や非男女に擴張されるのは善い.
    li 大麻を合法化せよ.
    li 刑法175條は違憲且つ惡法だ.
    li 安樂死の權利を認めろ.
    li
      | 人に自由意志は無く, "責任" や "努力" は意味を持たない.
      | 但し刑罰は歸結主義により正當化される。
    li 最初の序數は1でなく0だ.