extend /_layout.pug

block head
  - var title = "thoughts"

block main
  +mySection("性")
    p
      | （2019-08-14）
      | 性は少なくとも食と同等に公然たるべきだ。
      | 昨日の夕飯の如く昨日の自慰について訊けるべきだし、
      | 誰と食べたかの如く誰と寢たかを話せるべきだ。

  +mySection("婚姻")
    p
      | （2019-08-14）
      | 一對一・男對女に限定された婚姻制度は破壞されるべきだ。
      | 但し破壞への過程で婚姻制度が擴張されるのは善い。

  +mySection("大麻")
    p
      | （2019-08-14）
      | 大麻は（少なくとも酒や煙草と同等に）合法であるべきだ。。

  +mySection("生殖")
    p
      | （2019-08-14）
      | （權利を持つ種の個體の總稱としての）人を殖やすべきでない。

  +mySection("猥褻")
    p
      | （2019-08-14）
      | 刑法175條は違憲且つ惡法だ。

  +mySection("安樂死")
    p
      | （2019-08-14）
      | 安樂死の權利を認めるべきだ。

  +mySection("自由意思")
    p
      | （2019-08-14）
      | 人に自由意志は無く、責任能力も無い。
      | 但し刑罰は歸結主義により正當化される。

  +mySection("序數")
    p
      | （2019-09-05）
      | 最初は1でなく0であるべきである。
      | 然し傳統的序數との折り合ひを圖る爲に次の使ひ分けをする。
      | 即ち、0番目（0th）=一番目（first）、1番目（1st）=二番目（second）、…。