extend /_layout.pug

mixin nsfw
	div.nsfw
		block

block head
	- const title = "character"

block main
	ul
		li Gen 0
			ul
				li walter warlock
		li Gen 1
			ul
				li: a(href="1") suzuli and mitulu
		li Gen 2
			ul
				li: a(href="2") linli