extend /_layout.pug

block head
	- const title = "thai"
	- const tags = ["draft"]

block main
	.textareas
		textarea#0.
			ข้อ 1
			มนุษย์ทั้งหลายเกิดมามีอิสระและเสมอภาคกันในเกียรติศักด[เกียรติศักดิ์]และสิทธิ ต่างมีเหตุผลและมโนธรรม และควรปฏิบัติต่อกันด้วยเจตนารมณ์แห่งภราดรภาพ
		textarea#1
