extend /_layout.pug

block head
	- const title = "english-12020";
	- const tags = ["language=english", "draft"]

block main
	+section("orthography")
		li optionally use "þ" instead of "th"
		li do not capitalize the first person singular pronoun "i"

	+section("grammar")
		table
			tr
				th
				th standard
				th simplified
			tr
				th no article
				td a(n), the
				td ∅, ∅
			tr
				th no gender
				td: ul
					li he
					li she
					li it
					li "they" (singular)
					li "they" (plural)
				td: ul
					li he
					li he
					li it
					li he
					li þey
			tr
				th no verb agreement
				td: ul
					li i am
					li we are
					li you are
					li he is
					li they were
					li he has
				td: ul
					li i be
					li we be
					li you be
					li he be
					li they was
					li he have
			tr
				th no inflection
				td: ul
					li i like him
					li he likes me
					li it is my book
					li it is mine
				td: ul
					li i like he
					li he like i
					li it be book of me
					li it be of me
			tr
				th second person singular
				td: ul
					li "you" (singular)
					li "you" (plural)
				td: ul
					li þou
					li you
			tr
				th question without "do"
				td do you know him?
				td know you he? | wheþer you know he?
			tr
				th negation without "do"
				td i do not know him
				td i not know he | i know he not
			tr
				th multiple auxiliary verbs
				td: ul
					li will be able to
					li may have to
				td: ul
					li will can
					li may must
			tr
				th part of speech of "who"
				td someone who
				td who
			tr
				th meaning of "must not"
				td is not possible to
				td is not necessary to
			tr
				th usage of "shall"
				td: ul
					li shall
					li should
				td: ul
					li will | must
					li shall
			tr
				th regular ordinal numeral (optional)
				td zeroth, first, second, ...
				td zeroþ, oneþ, twoþ, ...
			tr
				th no conjugation (optional)
				td: ul
					li sang
					li sung
				td: ul
					li did sing
					li done sing
