extend /_layout.pug

block head
  - const title = "undot"

block main
  ul
    li
      input.trigger(type="checkbox", name="undot")
      label undot
    li
      select.trigger(name="case")
        option(value="upper") upper
        option(value="as-is", selected) as-is
        option(value="lower") lower

  textarea#in.trigger
  textarea#out