extend /_layout.pug

block head
  - var title = "calendar"
  script(src="script.js")
  link(rel="stylesheet", href="style.css")

block main
  em currently not working.

  +section("overview")
    p #{author.id}-calendar is a calendar almost every month in which has the same number of days.
    center
      table
        style.
          td { min-width: 32px; }
        tr
          each d, i in ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]
            th #{i} <br/> #{d}
          th -1<br/>leap/year
        - for(let i = 0; i < 4; i ++)
          tr
            - for(let j = 0; j < 7; j ++)
              td(align="right")= i * 7  + j
            - if(i === 3)
              td(align="center") (28)

    p it has 13 months.
    center
      ol(start="0", align="left")#month
        li january
        li february
        li march
        li april
        li may
        li june
        li: em sol
        li july
        li august
        li september
        li october
        li november
        li december

    p
      | we call the day 28 in the month 12 (new year's eve) a 'year day',
      | and that in the month 6 in each leap year a 'leap day'.
      | no other month has the day 28.
      | now we have 28×13+1=365 days (+1 in leap years).
      | these ideas originate from
      em  International Fixed Calendar
    p
      | also, the calendar adds 10000 to the Gregorian calendar year,
      | which is the same scheme as
      em  Holocene calendar.

  +section("converter")
    center
      div
        input#specified(type="datetime-local", value="1954-06-07T00:00")
        div#formal
        a(
          id=`tweet`
          , href=""
          , rel="nofollow"
          , class="twitter-link"
          ) tweet
    div
      ul
        li the author prefers the hexadecimal notation to the decimal one.
        li we use slashes rather than hyphens as some year may take a negative value.
