extend /_layout.pug

block head
	- const title = "interslavic"
	- const tags = ["language=english"]

block main
	p þis be personal dialect of <a href="http://steen.free.fr/interslavic/index.html">interslavic</a>.

	+section("orthography")
		p input <a href="http://steen.free.fr/interslavic/orthography.html#etymological_alphabet">etymological orthography</a> in the left area.

		.textareas
			textarea.
				# Universaĺnoj Deklaracije Prav Člověka
				## členȯk 1
				Vsi ljudi rodęt sę svobodni i råvni v dostojnosti i pravah.
				Oni sųt obdarjeni råzumom i svěst́jų i imajųt postųpati jedin k drugomu v duhu bratstva.
			textarea

	+section("number")
		table.center.isv-tds
			tr
				+ths("0 1 2 3 4 5 6 7 8 9 1000".split(" "))
			tr
			+tds("nula jedin dva tri četyri pęt́ šest́ sedm osm devęt́ tysęć".split(" "))

	+section("pronoun")
		.tables.center(style="display: table")
			table.isv-tds
				tr.vs
					+ths([1, 2, 3, "what", "which"])
				tr
					+tds("ja;ty;on;čto;koj".split(";"))

			table.isv-tds
				tr.vs
					+ths("no;some;every".split(";"))
				tr
					+tds("ni-;ně-;vse-".split(";"))

	+section("case")
		table.center.isv-tds
			tr
				+ths("N;G;A;D;L;I".split(";"))
			tr
				+tds("∅;od;go;k;v;s".split(";"))

	+section("verb")
		table.center.isv-tds
			tr.vs
				th infinitive
				th present
				th past
				th future
				th imperative
			tr
				td dělati
				td děla
				td běše děla
				td bųde děla
				td bųd́ děla

	+section("examples")
		table.center
			tr
				td you bought a book.
				td.isv: ul
					li ty běše kupova kniga.
					li ty kniga běše kupova.
					li go kniga ty běše kupova.
				td
					|word order is free.
					br
					|when A comes before N, use <span class="isv">go</span>.
			tr
				td you bought two books.
				td.isv ty běše kupova dwa kniga.
				td no plural mark.
			tr
				td do you bought a book?
				td.isv či ty běše kupova kniga?
				td
			tr
				td it is your book.
				td.isv on by kniga od ty?
				td
			tr
				td which book is yours?
				td.isv koj kniga by od ty?
				td
			tr
				td the book which you bought.
				td.isv kniga, go koj ty běše kupova.
				td

			table.center
				td
					|Universaĺnoj Deklaracije Prav Člověka
					br
					|Vsi ljudi rodęt sę svobodni i råvni v dostojnosti i pravah.
					br
					|Oni sųt obdarjeni råzumom i svěst́jų i imajųt postųpati jedin k drugomu v duhu bratstva.
				td.isv
					|deklaracija universaĺny od pravo od člověk
					br
					|go vsi osoba rodi svobodny i råvny v dostojnost́ i pravo.
					br
					|go on obdari s råzum i svěst́, i imě že postųpa k jedin drugy v duh od bratstvo.
