extend /_layout.pug

block head
	-
		const title = "auþor"
		const tags = ["language='japanese'"]
		//const vertical = true

block main
	p kono 网站 no 作成者 nal-imasu.

	+section("名")
		ul
			li 字: 墨
			li 日: SUMI
			li 粵: MӐK

	+section("original character")
		p
			| <a href="/suzuri-mituru">#[+ruby("硯","suzuli")] to #[+ruby("盈","mitulu")]</a> nalu 架空 no 人物 vo 設定se-li.
			br
			| 硯 pa 代理 nitemo ali.

	+section("言語")
		p 言語 vo konomi, 以下 ni 興味 ali.
		ul
			li 日本語 (NitPonGo): native
			li 華語 (xuá ŋy̌): learning (passed HSK4)
			li 粵語 (yt gý): learning
			li german (deutsch)
			li latin
			li turkish (tǔrkța)
			li lojban
			li interslavic (међуслoвйанскꙑ)
		p 言語 no 正書法 ja Romanization System vo tukulu vo konomu (<a href="/lang">tukul-inulu mono</a>).

	+section("思想")
		p 現在 no omona 思想 pa 以下 nali.
			ul
				li 人間 no 自由意思 (定義 pa?) no 有無 ni jola-zu 歸結主義 kala 責任 to 罰 vo 正當化sa-lu.
				li 苦痛 no 總量 vo 減su ↔ josi.
					ul
						li pito vo umite pa nala-zu.
						li pito pa nalubeku pajaku sinu no ca 本人 ni toli 利己主義的ni josi.
						li 以上 pa 人間 ni kacila-zu 苦痛 vo 感sulu 生物 subete ni 適用sa-lu.
						li 人間 pa 現在 ni 存在sulu ka 未來 ni 存在si-ulu subete no 生命 vo 消失sa-su 義務 vo moti, kono 遂行 no tame ni 例外的 ni pito vo umu ca 許容sa-lu.
						li 現行 no 技術 nite 觀測s-al-ezalu 別 no 生態系 ni tuk-ite pa 保留sulu.

	+section("性")
		p
			| 男根 vo motu.
			| <br>自身 to 同程度 no {思考, 言語} 能力 to 男根 vo motu 實在人間 ni 性欲 vo muka-su.
			| <br>性欲共同解消者 vo 共時的ni 一人ni kacilu 欲求 vo mota-zu.

	+section("主張")
		p
			| 性欲vo taputobi 食欲 ja 睡眠欲 to 同樣 ni 公然 to panasa-lu 社會 vo nozomu.
			| <br>性欲vo asiki mono to si, opokuno 不自由 ca alu 現行 no 日本社會 vo 憎惡su.
			| <br>具體的 na 敵 vo 列擧su:
			ul
				li 性器 no 檢閲 ({mosaic, silonuli, 黑線}). kole vo 強制sulu 刑法第175條. kole vo 濫用sulu 警察權力. kole ni 恭順sulu {出版社, 同人誌卽賣會主催, 印刷會社}.
				li 根據 naku 青少年 no 權利 vo ubapi 成人 ca 色情媒體 vo 占有sulu tame no 十八禁制度. kole vo 齎su 青少年條例.
				li 確信的 ni 檢閲 vo "修正" to jobu 人間。
				li 確信的 ni 性的 na mono vo "不健全" to jobu 人間。
				li Christianity

	+section("account")
		-
			const xss = [
				["twitter", "https://twitter.com/intent/user?user_id=759648849786920960",],
				["discord", "https://discord.com/invite/J3b8pqg",],
				["nuita", "https://nuita.net/users/tuFEwqlaelfFak7x",],
				["magwatta", "https://www.magwatta.com/users/profile",],
				["booklog", "https://booklog.jp/users/smq/profile",],
				["chilchil", "https://www.chil-chil.net/myPageBkSh/tgt_user_id/117165/booksh_id/479050/"],
				["skeb", "https://skeb.jp/@sm",],
				["marshmallow", "https://marshmallow-qa.com/sumi",],
				["note", "https://note.com/smq",],
				["amazon", "https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8",],
				["github", `https://github.com/${author.github}`,],
				["pixiv", "https://www.pixiv.net/users/13912025",],
				["youtube", "https://www.youtube.com/channel/UC5TRwGjAuKZkfCGslswfqXA",],
				["instagram", "https://www.instagram.com/sumi.iu/",],
				["kyash", "https://kyash.me/payments/yvcDEDw98IllqEeLpsRhn6DquKhm",],
			]
		ul
			for xs in xss
				li: a(href=xs[1])= xs[0]
