extend /_layout.pug

block head
	-
		const title = "auþor"
		const tags = ["language='japanese'"]

block main
	p このsiteの作成者です.

	+section("名")
		ul
			li character: 墨幽
			li japanese: sumi kura
			li cantonese: măk qjằv
		p 多くは "sumi" と呼びます.

	+section("original character")
		p
			| <a href="/suzuri-mituru">硯と盈</a>と言ふ空#[+ruby("想","さう\u309A")]の人物 (OC) を設定してゐます.
			| <br>硯は謂はゆる看板息子であり代理です.
			| <br>盈は單に好みの男です.

	+section("言語")
		p
			| 言語 (特に人工言語含む) が好きで次に興味が有ります.
			ul
				li 日本語 (NitPonGo): native
				li 華語 (xuá ŋy̌): learning (passed HSK4)
				li 粵語 (yt gý): learning
				li lojban
				li interslavic (међуслoвйанскꙑ)
				li トルコ語 (türkțä)
				li polish (poljskǐ)
			| 言語の正書#[+ruby("法","はふ")]やromanization systemを考へるのを好みます (<a href="/lang">作った物</a>).

	+section("思想")
		p 讀んだ文獻が少ないので#[+ruby("強","きゃう\u309A")]度が弱くありますが, 現在の主な思#[+ruby("想","さう\u309A")]は次です.
			ul
				li 人間に自#[+ruby("由","いう")]意思 (定義は?) は無いが歸結主義から責任と罰を正#[+ruby("當","たう\u309A")]化できる.
				li 苦痛の總量を減ずる ↔ よい.
					ul
						li 人を生んではならない.
						li 人はなるべく早く死ぬのが本人にとって利己主義的にはよい.
						li 以上は人間に限らず, 苦痛を感ずる生物全てに適用される.
						li 人間は現在に存在するか未來に存在し得る全ての生命を#[+ruby("消","せう")]失させる義務を持ち, これの遂行の為には例外的に人を生む事が許容され得る.
						li 現#[+ruby("行","かう\u309A")]の技術で觀測できない別の生態系については保#[+ruby("留","りう")]する.

	+section("性")
		p
			| 男根を持ち#[+ruby("腦","なう")]がそれに#[+ruby("違","ゐ")]和を持ちません (cisgender male).
			| <br>私と同程度の{思#[+ruby("考","かう")], 言語}能力と男根を持つ實在人間に性慾を向けます (androphilia).
			| <br>性慾とその解#[+ruby("消","せう")]の#[+ruby("協","けふ")]力者を共時的に1人に限る慾求を持ちません (polyamory).

	+section("主張")
		p
			| 性慾を尊び, 食慾や睡眠慾と同樣に公然と話せる社會を望みます.
			| <br>性慾が惡しき物とされ多くの不自#[+ruby("由","いう")]が有る現#[+ruby("行","かう\u309A")]の日本社會を憎みます.
			| <br>具體的な (そしてやや細かい) 敵を列擧します：
			ul
				li 性器の檢閲 ({mosaic, 白塗り, 黑線}). これを強制する刑法175#[+ruby("條","でう")]. これを濫用する警察權力. これに恭順する{出版社, 同人誌卽賣會主催, 印刷會社}.
				li 根據無く青#[+ruby("少","せう")]年の權利を奪ひ, 成人がpornoを占有する為の18禁制度. これを齎す青#[+ruby("少","せう")]年#[+ruby("條","でう")]例.
				li 確信的に檢閲を "修正" と呼ぶ人間.
				li 確信的に性的な物を "不健全" と呼ぶ人間.
				li 確信的に強制の無い性的な事物全てを "性的嫌がらせ" と呼ぶ人間.
				li キリスト#[+ruby("教","けう")].

	+section("account")
		-
			const xss = [
				["twitter", "https://twitter.com/intent/user?user_id=759648849786920960",],
				["discord", "https://discord.com/invite/J3b8pqg",],
				["nuita", "https://nuita.net/users/tuFEwqlaelfFak7x",],
				["magwatta", "https://www.magwatta.com/users/profile",],
				["booklog", "https://booklog.jp/users/smq/profile",],
				["chilchil", "https://www.chil-chil.net/myPageBkSh/tgt_user_id/117165/booksh_id/479050/"],
				["skeb", "https://skeb.jp/@sm",],
				["marshmallow", "https://marshmallow-qa.com/sumi",],
				["note", "https://note.com/smq",],
				["amazon", "https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8",],
				["github", `https://github.com/${author.github}`,],
				["pixiv", "https://www.pixiv.net/users/13912025",],
				["kyash", "https://kyash.me/payments/yvcDEDw98IllqEeLpsRhn6DquKhm",],
				["instagram", "https://www.instagram.com/sumi.iu/",],
				["youtube", "https://www.youtube.com/channel/UC5TRwGjAuKZkfCGslswfqXA",],
			]
		ul
			for xs in xss
				li: a(href=xs[1])= xs[0]
