extend /_layout.pug

block head
	-
		const title = "vlastnik"
		const titleIsva = true
		const tags = ["language='englısh analytıc'"]

block main
	+section("alias")
		center
			table
				for key in ["han", "ja", "emc", "cmn", "yue"]
					tr
						th= key
						td= author.name[key][0]
						td= author.name[key][1]

	+section("pronoun")
		a(href="https://en.wiktionary.org/wiki/ve#English") ve

	+section("ideology"): ul
		li
			del determınısm
			| &#32;
			del physıcalısm
			| &#32;(ı deny boþ free wıll and determınısm)
		li intersectıonal veganısm
			ul: li ı stıll eat anımal food þerefore ı be currently moral nıhılıst
		li antı-natalısm
		li pro-mortalısm
		li antı-monogamısm
		li
			del socıal lvberalısm
			| &#32;egalıtarıanısm (?)

	+section("sexuality")
		ul
			li cısgender
			li androsexual
			li androromantıc
			li polyamory

	+section("interest")
		+section("language")
			+section("human")
				ul
					li japanese (natıve)
					li englısh (TOEIC L&R 810)
					li lojban (begınner)
					li cantonese (begınner)
					li russıan (begınner)

			+section("programming")
				ul
					li Python (ı not lıke but ı maınly use)
					li Haskell
					li Scala
					li Lean Prover (hwat ınterests)

		+section("computer science")
			ul
				li λ-calculus
				li substructural logıcs
				li proof þeory
				li category þeory

	+section("account")
		ul
			li: a(href="https://twitter.com/intent/user?user_id=759648849786920960") Twitter
			// li: a(href="https://melanizo.tumblr.com/") Tumblr
			// li: a(href="https://https://melanizo.blogspot.com/") Blogger
			li: a(href="https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8") Amazon
				ul: li: a(href="https://www.amazon.co.jp/registry/wishlist/13Q3VHTZE52OV") wishlists
			// li: a(href="https://peing.net/ja/sumi") Peing
			li: a(href="https://marshmallow-qa.com/sumi") Marshmallow
			li: a(href="https://www.pixiv.net/member.php?id=13912025") pixiv
				ul
					li: a(href="https://www.pixiv.net/fanbox/creator/13912025") FANBOX
					li: a(href="https://melanizo.booth.pm/") BOOTH
			li: a(href="https://soundcloud.com/melanophil") SoundCloud

	+section("donation")
		p any amount of money wıll be great help. þank þou!
		figure
			img#image-kyash(src="/images/kyash.png", width="320px")
