extend /_layout.pug

block head
	-
		const title = "auþor"
		const tags = ["language='japanese'"]
		const verticalMain = true

block main
	p この#[+ruby("网站","MagTem")]の#[+ruby("作成者","SakZjagZja")]です。

	+section("名")
		ul
			li #[+ruby("字","Zi")]: 墨幽
			li #[+ruby("日","Nit")]: sumi kura
			li #[+ruby("粵","Vet")]: măk qjằv
		p おほくは「sumi」と#[+ruby("稱","Sjou")]します。

	+section("original character")
		p
			| <a href="/suzuri-mituru">#[+ruby("硯","suzuli")]と#[+ruby("盈","mitulu")]</a>といふ#[+ruby("空想","KugSag")]の#[+ruby("人物","NinMot")]（#[+ruby("原創角色","GonSjagKakSik")]）を#[+ruby("設定","SetDjag")]してゐます。
			| <br>硯はいはゆる#[+ruby("看板","KanPen")]むすこであり#[+ruby("代理","DaiLi")]です。
			| <br>盈は#[+ruby("單","Tan")]にこのみのをとこです。

	+section("言語")
		p
			| 言語がすきで以下に興味があります。
			ul
				li 日本語 (NitPonGo): native
				li 華語 (xuá ŋy̌): learning (passed HSK4)
				li 粵語 (yt gý): learning
				li lojban
				li interslavic (међуслoвйанскꙑ)
				li トルコ語 (tǔrkța)
				li polish (poljskǐ)
			| 言語の#[+ruby("正書法","SjagSjoPop")]やromanization systemをつくるのをこのみます（<a href="/lang">つくりたるもの</a>）。

	+section("思想")
		p よみたる文獻がすくないので#[+ruby("強","Cog")]度がよはかりますが，現在のおもな#[+ruby("思想","SiSag")]は以下です。
			ul
				li 人間に自#[+ruby("由","いう")]意思（定義は？） はないが歸結主義から責任と罰を#[+ruby("正當","SjagTag")]化される。
				li 苦痛の總量を減ずる ↔ よい。
					ul
						li ひとをうむではならない。
						li ひとはなるべくはやくしぬのが本人にとりて利己主義的にはよい。
						li 以上は人間にかぎらず#[+ruby("苦痛","KuTug")]を感ずる生物すべてに適用される。
						li 人間は現在に存在するか未來に存在しうるすべての生命を#[+ruby("消失","SeuSit")]させる義務をもちこれの遂行のためには例外的にひとをうむことが許容されうる。
						li #[+ruby("現行","HenHag")]の技術で觀測できない別の生態系については保#[+ruby("保留","PoLiu")]する。

	+section("性")
		p
			| 男根をもち#[+ruby("腦","Nau")]がそれに#[+ruby("違和","ViVa")]をもちません（cisgender male）。
			| <br>私と同程度の{思#[+ruby("考","かう")]、言語}能力と男根をもつ實在人間に性慾をむけます（androphilia）。
			| <br>性慾とその解#[+ruby("消","せう")]の#[+ruby("協","けふ")]力者を共時的に一人にかぎる慾求をもちません（polyamory）。

	+section("主張")
		p
			| 性慾をたふとび，食欲や睡眠欲と#[+ruby("DugJag","同樣")]に公然とはなせる社會をのぞみます。
			| <br>性慾があしきものとしおほくの不自#[+ruby("由","いう")]がある現#[+ruby("行","かう\u309A")]の日本社會を憎惡します。
			| <br>具體的な（そしてややこまかい）てきを列擧します：
			ul
				li 性器の檢閲（｛mosaic、しろぬり、黑線｝）。これを強制する刑法175#[+ruby("條","Deu")]。これを濫用する警察權力。これに恭順する｛出版社、同人誌卽賣會主催、印刷會社｝。
				li 根據なく#[+ruby("青少年","SjagSeuNen")]の權利をうばひ成人がpornoを占有するための十八禁制度。これをもたらす青少年條例。
				li 確信的に檢閲を「修正」とよぶ人間。
				li 確信的に性的なものを「不健全」とよぶ人間。
				li 確信的に強制のない性的な事物すべてを「性的いやがらせ」とよぶ人間。
				li キリスト#[+ruby("教","Keu")]。

	+section("account")
		-
			const xss = [
				["twitter", "https://twitter.com/intent/user?user_id=759648849786920960",],
				["discord", "https://discord.com/invite/J3b8pqg",],
				["nuita", "https://nuita.net/users/tuFEwqlaelfFak7x",],
				["magwatta", "https://www.magwatta.com/users/profile",],
				["booklog", "https://booklog.jp/users/smq/profile",],
				["chilchil", "https://www.chil-chil.net/myPageBkSh/tgt_user_id/117165/booksh_id/479050/"],
				["skeb", "https://skeb.jp/@sm",],
				["marshmallow", "https://marshmallow-qa.com/sumi",],
				["note", "https://note.com/smq",],
				["amazon", "https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8",],
				["github", `https://github.com/${author.github}`,],
				["pixiv", "https://www.pixiv.net/users/13912025",],
				["youtube", "https://www.youtube.com/channel/UC5TRwGjAuKZkfCGslswfqXA",],
				["instagram", "https://www.instagram.com/sumi.iu/",],
				["kyash", "https://kyash.me/payments/yvcDEDw98IllqEeLpsRhn6DquKhm",],
			]
		ul
			for xs in xss
				li: a(href=xs[1])= xs[0]
