extend /_layout.pug

block head
	-
		const title = "auþor"
		const tags = ["language='japanese'"]
		const vertical = true

block main
	p この网站の作成者です。

	+section("名")
		ul
			li 字: 墨幽
			li 日: sumi kura
			li 粵: mӑk qjӑ̀v
		p 多くは「sumi」と稱します。

	+section("original character")
		p
			| <a href="/suzuri-mituru">#[+ruby("硯","suzuli")]と#[+ruby("盈","mitulu")]</a>といふ架空の人物を設定しぬります。
			br
			| 硯は代理でもあります。

	+section("言語")
		p
			| 言語を好み以下に興味があります。
			ul
				li 日本語 (NitPonGo): native
				li 華語 (xuá ŋy̌): learning (passed HSK4)
				li 粵語 (yt gý): learning
				li german (deutsch)
				li latin
				li turkish (tǔrkța)
				li lojban
				li interslavic (међуслoвйанскꙑ)
			| 言語の正書法やromanization systemを作るを好みます（<a href="/lang">作りたるもの</a>）。

	+section("思想")
		p 讀みぬる文獻が少なければ強度が弱かりますが現在のおもな思想は以下なります。
			ul
				li 人間の自由意思（定義は？）の有無によらず歸結主義から責任と罰を正當化される。
				li 苦痛の總量を減ずる iff よい。
					ul
						li ひとを産みてはならず。
						li ひとはなるべくはやく死ぬのが本人にとりて利己主義的にはよい。
						li 以上は人間に限らず苦痛を感ずる生物すべてに適用される。
						li 人間は現在に存在するか未來に存在しうるすべての生命を消失させる義務を持ちこれの遂行のためには例外的にひとを産むが許容さる。
						li 現行の技術で觀測できない別の生態系については保留する。

	+section("性")
		p
			| 男根を持ち腦がそれに違和を持たず（cisgender male）。
			| <br>吾と同程度の{思考、言語}能力と男根を持つ實在人間に性慾を向けます（androphilia）。
			| <br>性欲の共同解消者を共時的に一人に限る慾求を持ちません（polyamory）。

	+section("主張")
		p
			| 性欲を尊び食欲や睡眠欲と同樣に公然と話せる社會を望みます。
			| <br>性慾が惡しきものとし多くの不自由がある現行の日本社會を憎惡します。
			| <br>具體的な（そしてやや細かい）かたきを列擧します：
			ul
				li 性器の檢閲（｛mosaic、白塗り、黑線｝）。これを強制する刑法175條。これを濫用する警察權力。これに恭順する｛出版社、同人誌卽賣會主催、印刷會社｝。
				li 根據なく青少年の權利をうばひ成人が色情媒體を占有するための十八禁制度。これを齎す青少年條例。
				li 確信的に檢閲を「修正」と呼ぶ人間。
				li 確信的に性的なものを「不健全」と呼ぶ人間。
				li 確信的に強制の無い性的な事物すべてを「性的いやがらせ」と呼ぶ人間。
				li キリスト教。

	+section("account")
		-
			const xss = [
				["twitter", "https://twitter.com/intent/user?user_id=759648849786920960",],
				["discord", "https://discord.com/invite/J3b8pqg",],
				["nuita", "https://nuita.net/users/tuFEwqlaelfFak7x",],
				["magwatta", "https://www.magwatta.com/users/profile",],
				["booklog", "https://booklog.jp/users/smq/profile",],
				["chilchil", "https://www.chil-chil.net/myPageBkSh/tgt_user_id/117165/booksh_id/479050/"],
				["skeb", "https://skeb.jp/@sm",],
				["marshmallow", "https://marshmallow-qa.com/sumi",],
				["note", "https://note.com/smq",],
				["amazon", "https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8",],
				["github", `https://github.com/${author.github}`,],
				["pixiv", "https://www.pixiv.net/users/13912025",],
				["youtube", "https://www.youtube.com/channel/UC5TRwGjAuKZkfCGslswfqXA",],
				["instagram", "https://www.instagram.com/sumi.iu/",],
				["kyash", "https://kyash.me/payments/yvcDEDw98IllqEeLpsRhn6DquKhm",],
			]
		ul
			for xs in xss
				li: a(href=xs[1])= xs[0]
