extend /_layout.pug

block head
	-
		const title = "vlastnik"
		const titleLanguage = "isv"
		const tags = ["language='english analytic'"]

block main
	+section("alias")
		center
			table
				for key in ["han", "ja", "emc", "cmn", "yue"]
					tr
						th= key
						td= author.name[key][0]
						td= author.name[key][1]

	+section("pronoun")
		a(href="https://en.wiktionary.org/wiki/ve#English") ve

	+section("ideology"): ul
		li
			del determinism
			| &#32;
			del physicalism
			| &#32;(i deny boþ free will and determinism)
		li intersectional veganism
			ul: li i still eat animal food þerefore i be currently moral nihilist
		li anti-natalism
		li pro-mortalism
		li anti-monogamism
		li
			del social liberalism
			| &#32;egalitarianism (?)

	+section("sexuality")
		ul
			li cis-gender
			li andro-sexual
			li andro-romantic
			li poly-amory

	+section("interest")
		+section("language")
			+section("human")
				ul
					li japanese (native)
					li english (TOEIC L&R 810)
					li lojban (beginner)
					li cantonese (beginner)
					li russian (beginner)

			+section("programming")
				ul
					li Haskell
					li Scala
					li Lean Prover

		+section("computer science")
			ul
				li λ-calculus
				li substructural logic
				li proof þeory
				li category þeory

	+section("account")
		ul
			li: a(href="https://twitter.com/intent/user?user_id=759648849786920960") Twitter
			// li: a(href="https://melanizo.tumblr.com/") Tumblr
			// li: a(href="https://https://melanizo.blogspot.com/") Blogger
			li: a(href="https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8") Amazon
				ul: li: a(href="https://www.amazon.co.jp/registry/wishlist/13Q3VHTZE52OV") wishlists
			// li: a(href="https://peing.net/ja/sumi") Peing
			li: a(href="https://marshmallow-qa.com/sumi") Marshmallow
			li: a(href="https://www.pixiv.net/member.php?id=13912025") pixiv
				ul
					li: a(href="https://www.pixiv.net/fanbox/creator/13912025") FANBOX
					li: a(href="https://melanizo.booth.pm/") BOOTH
			li: a(href="https://soundcloud.com/melanophil") SoundCloud

	+section("donation")
		p any amount of money will greatly help. þank þou!
		figure
			img#image-kyash(src="/images/kyash.png", width="320px")
