extend /_layout.pug

block head
	- const title = "author"

block main
	+section("alias")
		p
			| #{author.name.la} | #{author.name.zh}
			|  signifies the author.

	+section("pronoun")
		center
			table
				tr
					th nominative
					td ve
				tr
					th accusative
					td ver
				tr
					th genitive
					td vis

		p if you really need to refer to me by ‹he›, do so.

	+section("ideology"): ul
		p (!) i am temporarily a moral nihilist and therefore ignore this section.

		li
			del determinism
			| &#32;
			del physicalism
			|  (i deny both free will and determinism. what should i call it?)
		li intersectional veganism
		li anti-natalism
		li pro-mortalism
		li anti-monogamism
		li
			del social liberalism
			|  egalitarianism (?)

	+section("sexuality")
		ul
			li cisgender
			li androsexual
			li androromantic
			li polyamory

	+section("interest")
		+section("language")
			+section("human")
				ul
					li japanese (native)
					li english (TOEIC L&R 810)
					li lojban
					li cantonese (beginner)

			+section("programming")
				ul
					li Python (i do not like but i mainly use)
					li Haskell
					li Scala
					li Lean Prover (interested in)

		+section("computer science")
			ul
				li λ-calculus
				li substructural logics
				li proof theory
				li category theory

	+section("account")
		ul
			li: a(href="https://twitter.com/intent/user?user_id=759648849786920960") Twitter
			// li: a(href="https://melanizo.tumblr.com/") Tumblr
			// li: a(href="https://https://melanizo.blogspot.com/") Blogger
			li: a(href="https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8") Amazon
				ul: li: a(href="https://www.amazon.co.jp/registry/wishlist/13Q3VHTZE52OV") wishlists
			// li: a(href="https://peing.net/ja/sumi") Peing
			li: a(href="https://marshmallow-qa.com/sumi") Marshmallow
			li: a(href="https://www.pixiv.net/member.php?id=13912025") pixiv
				ul
					li: a(href="https://www.pixiv.net/fanbox/creator/13912025") FANBOX
					li: a(href="https://melanizo.booth.pm/") BOOTH
			li: a(href="https://soundcloud.com/melanophil") SoundCloud

	+section("donation")
		p any amount of money will be great help. thank you!
		figure: img#image-kyash(src="/images/kyash.png")
