extend /_layout.pug

block head
	-
		const title = "vlastnik"
		const titleLanguage = "isv"
		const tags = ["language='english analytic'"]

block main
	+section("alias")
		center
			table
				for key in Object.keys(author.name)
					tr
						th= key
						td= author.name[key][0]
						td= author.name[key][1]

	+section("pronoun")
		a(href="https://en.wiktionary.org/wiki/ve#English") ve

	+section("ıdeology"): ul
		li
			del determınısm
			| &#32;
			del physıcalısm
			| &#32;(ı deny boþ free wıll and determınısm)
		li ıntersectıonal veganısm
			ul: li ı stıll eat anımal food þerefore ı be currently moral nıhılıst
		li antı-natalısm
		li pro-mortalısm
		li antı-monogamısm
		li
			del socıal lıberalısm
			| &#32;egalıtarıanısm (?)

	+section("sexualıty")
		ul
			li cıs-gender
			li andro-sexual
			li andro-romantıc
			li poly-amory

	+section("ınterest")
		+section("language")
			+section("human")
				ul
					li ȷapanese (natıve)
					li englısh (TOEIC L&R 810)
					li loȷban (begınner)
					li cantonese (begınner)
					li russıan (begınner)
					li polısh (begınner)

			+section("programmıng")
				ul
					li Haskell
					li Scala
					li Lean Prover

		+section("computer scıence")
			ul
				li λ-calculus
				li substructural logıc
				li proof þeory
				li category þeory

	+section("account")
		ul
			li: a(href="https://twitter.com/intent/user?user_id=759648849786920960") Twıtter
			// li: a(href="https://melanizo.tumblr.com/") Tumblr
			// li: a(href="https://https://melanizo.blogspot.com/") Blogger
			li: a(href="https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8") Amazon
				ul: li: a(href="https://www.amazon.co.jp/registry/wishlist/13Q3VHTZE52OV") wıshlısts
			// li: a(href="https://peing.net/ja/sumi") Peing
			li: a(href="https://marshmallow-qa.com/sumi") Marshmallow
			li: a(href="https://www.pixiv.net/member.php?id=13912025") pıxıv
				ul
					li: a(href="https://www.pixiv.net/fanbox/creator/13912025") FANBOX
					li: a(href="https://melanizo.booth.pm/") BOOTH
			li: a(href="https://soundcloud.com/melanophil") SoundCloud

	+section("donatıon")
		p any amount of money wıll greatly help. þank þou!
		figure
			img#image-kyash(src="/images/kyash.png", width="160px")
