extend /_layout.pug

block head
	-
		const title = "auþor"
		const tags = ["language='japanese'"]

block main
	p このsiteの作成者です.

	+section("名")
		p
			| 名前は「墨」で、檢索性を良くしたい時は「墨幽」とも名乘ります。<br>
			| 讀みは日本語ならsumi kura」、又は漢語音で「mok iu」です。

	+section("original character")
		p
			| <a href="/suzuri-mituru">硯と盈</a>と言ふ空想の人物（OC）を設定してゐます。
			| <br>硯は私の理想と現實を均衡させて作った人物で、私の最推しであり自身の投影です。
			| <br>盈は單に好みで作りました。

	+section("言語")
		p
			| 言語（特に人工言語含む）が好きで
			ul
				li 日本語（NitPonGo）
				li 華語 (huá ŋy̌)
				li 粵語 (yt ŋý)
				li lojban
				li interslavic (међуслoвянскꙑ ѩзꙑк)
				li polish (jęzik poljskǐ)
			| に興味が有ります。
			| <br>言語の正書法やromanization systemを考へるのを好みます (<a href="/lang">作った物</a>)。

		p
			| 計算機言語も好きで、Haskellに興味が有ります。
			| <br>書けるのは{JavaScript, Python}です。
			| <br>以前は{圏論, 數理論理学, 定理證明}にも興味が有りました。
			| <br>職業はsoftwear engineerです。

	+section("思想")
		p 讀んだ文獻が少ないので強度が弱くありますが、現在の主な思想は以下です。
			ul
				li 人間に自由意思（定義は？）は無いが歸結主義から責任と刑罰を正當化できる。
				li 苦痛の總量を減ずる ↔ よい。
					ul
						li 人を生んではならない。
						li 人はなるべく早く死ぬのが本人にとって利己主義的によい。
						li 以上は人間に限らず、苦痛を感ずる生物全てに適用される。
						li 人間は現在に存在するか未來に存在し得る全ての生命を消失させる義務を持ち、これの遂行の爲には例外的に人を生む事が許容されるかも知れない。
						li 現行の技術で觀測できない別の生態系については保留する。

	+section("性")
		p
			| 男根を持ち腦がそれに違和を持ちません。
			| <br>私と同程度の{思考, 言語}能力と男根を持ち乳房を持たない實在人間に性慾を向けます。
			| <br>性慾とその解消の協力者を共時的に1人に限る慾求を持ちません。

	+section("主張")
		p
			| 性慾を尊び、食慾や睡眠慾と同樣に公然と話せる社會を望みます。
			| <br>性慾が惡しき物とされ多くの不自由が有る現行の日本社會を憂ひます。
			| <br>具體的な（そしてやや細かい）修正對象を列擧します：
			ul
				li 性器の檢閲({mosaic, 白塗り, 黒線}）。これを強制する刑法175條。これを濫用する警察權力。これに恭順する{出版社, 同人誌卽賣會主催, 印刷會社)。
				li 明確な根據無く青少年の權利を奪ひ、成人がpornoを占有する爲の18禁制度。これを齎す青少年健全育成條例。
				li 檢閲を「修正」と呼ぶ人間。
				li 性的な物を「不健全」と呼ぶ人間。
				li 強制の無い性的な事物全てを「性的嫌がらせ」と呼ぶ人間。
				li キリスト教。

	+section("account")
		-
			const xss = [
				["twitter", "https://twitter.com/intent/user?user_id=759648849786920960",],
				["discord", "https://discord.com/invite/J3b8pqg",],
				["nuita", "https://nuita.net/users/tuFEwqlaelfFak7x",],
				["magwatta", "https://www.magwatta.com/users/profile",],
				["booklog", "https://booklog.jp/users/smq/profile",],
				["skeb", "https://skeb.jp/@sm",],
				["marshmallow", "https://marshmallow-qa.com/sumi",],
				["note", "https://note.com/smq",],
				["amazon", "https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8",],
				["github", `https://github.com/${author.github}`,],
				["pixiv", "https://www.pixiv.net/users/13912025",],
				["kyash", "https://kyash.me/payments/yvcDEDw98IllqEeLpsRhn6DquKhm",],
				["instagram", "https://www.instagram.com/sumi.iu/",],
				["youtube", "https://www.youtube.com/channel/UC5TRwGjAuKZkfCGslswfqXA",],
			]
		ul
			for xs in xss
				li: a(href=xs[1])= xs[0]
