textarea
  box-sizing: border-box
  float: left
  margin: 0
  width: 50%
  height: 320px
  resize: none

table.transpose
  tr
    display: block
    float: left

  th, td
    display: block

table.nu
  display: inline-block
  vertical-align: top
  padding: 0
  margin-left: 0
  margin-bottom: 0
  td, th
    border: 1px solid rgba(255, 255, 255, .2)

  .as-is
    color: rgba(255, 255, 255, .2)
  .original
    font-size: 80%