extend /_layout.pug

block head
	-
		const title = "twitter向け自己紹介"
		const tags = ["language='japanese'"]

block main
	p このサイトは基本的にPC用なので表示が崩れても許して下さい.

	ul
		li 名前
			ul
				li よく呼ばれる: スミ (sumi)
				li 正式: 墨幽 (sumi iu)
				li よくtwitterで使う: 初夏の夜風の涼しさ
				li 偶にtwitterで使う: 男根, 大麻, 安樂死 (欲しい物を並べました)
		li 趣味
			ul
				li オリキャラの設定を考へ, Skebで依賴したり, 偶に自分で描いたりします. <a href="/suzuri-mituru">硯と盈<a>.
				li 漫畫讀み (主に商業BL). <a href="https://drive.google.com/file/d/1r2MRH-se7GtL7T-3ENoU8rpJ6cMjyik8/view">GC 2020</a>.
				li 語學
					ul
						li 話せる樣になると言ふよりは, 色々な言語の文法と音韻論をざっくり眺めたり正書法 (romanization) を作るのが好き
						li {日本語, ロジバン, ドイツ語, 華語, 廣東語, ポーランド語, ラテン語}をや{った, りたい}
						li english: i am at the B1 level of CEFR. though i am not fluent, it is alright if you speak to me in english.
						li 華語: 我剛開始華語. HSK3合格了 (GC 2021/12).
				li 將棋. GC 2021/2 に遊び方を覺えた初心者.
				li programming. JavaScriptが少し書けます (この頁を作るなどで). 函數型言語が好き. 最近 (GC 2021/2) はElmに興味を持ってゐます.
				li ゲーム. {メギド72, FF14, 原神 (?)}.
				li セックス. 男根の有る肉體が好きです. 受けですが攻めの練習もしたい. <a href="twitter.com/fumi1995">エロアカ<a>.
		li 作った物
			ul
				li <a href="/misc/alphabet/">font變換器</a>. tweetするのに便利なので.
				li <a href="https://sumi-chinese.herokuapp.com">華語と廣東語のromanizer</a>
				li <a href="/work/font/tri/">人工文字</a>. fontの作り方の勉強と自作言語用に.
				li <a href="https://xekri.github.io/sjagci/">HTML將棋</a>. Elmの勉強に.
				li <a href="https://twitter.com/sumiqj/status/1303539039505506305">オリキャラの繪</a>. 繪は才能が無さすぎて諦めました.
		li 思想
			ul
				li 動物を虐殺してその肉を食べるのは不正義と考へてゐますが, veganにはなりきれてゐず精々reducetarianです
				li 少なくとも人類の幸福のためには人を生まず, 生まれたら死ぬのが好いと考へます (ただし人類以外の動物の幸福も考慮すると別です)
				li 性 {表現, 消費} の解放を是とします. 年齡差別 (R-18) や檢閲 (モザイクなど) の強制は許容しません. 青少年健全育成條例と刑法175條を潰したく思ひます.
				li 男女同權の意味でfeministですが, 表現規制にもtransphobiaにも反對なのでtwitterでの主流な活動家には與しません. 寧ろ男女の二項對立を潰したく思ひます.
				li {共產黨, 立憲民主黨}支持ですが全面賛成はしません.
				li 臺灣獨立. 香港獨立.

		p もっと知りたい方はこのサイトをうろついて下さい.
