article table {
  padding: 0;
  text-align: center; }
  article table tr, article table td, article table th {
    position: relative; }
  article table .over-th {
    text-align: center; }
    article table .over-th:before {
      content: "";
      height: 1px;
      overflow: hidden;
      background: white;
      position: absolute;
      left: 4px;
      right: 4px;
      bottom: 0; }
  article table tbody {
    display: inline-block;
    margin: 32px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center; }
    article table tbody:only-of-type {
      margin: 0;
      border: 0; }
    article table tbody:not(:first-of-type) {
      margin-left: 0; }
    article table tbody.consonant, article table tbody.vowel {
      display: inline-block; }
    article table tbody.consonant td {
      text-align: left; }
    article table tbody.vowel td {
      text-align: right; }
    article table tbody.tone td {
      text-align: right; }
