table tbody {
  margin: 8px;
  text-align: center; }
  table tbody tr td {
    position: relative; }
  table tbody td.over-th:before {
    content: "";
    height: 1px;
    overflow: hidden;
    background: white;
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0; }
  table tbody.consonant, table tbody.vowel {
    display: inline-block; }
  table tbody.consonant td {
    text-align: left; }
  table tbody.vowel td {
    text-align: right; }
  table tbody.tone td {
    text-align: right; }
