extend /_layout.pug

block head
	- const title = "japanese"

mixin ruby(main, over)
	<ruby>#{main}<rt>#{over}</rt></ruby>#{after}

mixin tds(xs)
	for x in xs
		td= x

block main
	p under construction

	// http://www.inagaki.nuie.nagoya-u.ac.jp/research/derivation_grammar.html

	+section("syllable")
		table
			+trs(
				[ "ã„  i|ãˆ  e|ã‚  a|ãŠ  o|ã†  u|ğ›€† ji|ğ›€ je|ã‚„    ja|ã‚ˆ   jo|ã‚†    ju|ã‚ vi|ã‚‘ ve|ã‚ va|ã‚’ vo|vu|ã‚“ q n m|ã£ k t f"
				, "ã ci|ã‘ ce|ã‹ ca|ã“ co|ã cu|     |     |ãã‚ƒ cja|ãã‚‡ cjo|ãã‚… cju"
				, "ã gi|ã’ ge|ãŒ ga|ã” go|ã gu|     |     |ãã‚ƒ gja|ãã‚‡ gjo|ãã‚… gju"
				, "    |      |     |     |     |    |    |        |       |       |ãğ›… cvi|ãğ›…¥ cve|ãã‚ cva"
				, "    |      |     |     |     |    |    |        |       |       |ãğ›… gve|ãğ›…¥ gve|ãã‚ gva"
				, "ã¡ ti|ã¦ te|ãŸ ta|ã¨ to|ã¤ tu|    |     |ã¡ã‚ƒ tja|ã¡ã‚‡ tjo|ã¡ã‚… tju"
				, "ã¢ di|ã§ de|ã  da|ã© do|ã¥ du|    |     |ã¢ã‚ƒ dja|ã¢ã‚‡ djo|ã¢ã‚… dju"
				, "ã— si|ã› se|ã• sa|ã so|ã™ su|    |     |ã—ã‚ƒ sja|ã—ã‚‡ sjo|ã—ã‚… sju"
				, "ã˜ zi|ãœ ze|ã– za|ã zo|ãš zu|    |     |ã˜ã‚ƒ zja|ã˜ã‚‡ zjo|ã˜ã‚… zju"
				, "ã« ni|ã­ ne|ãª na|ã® no|ã¬ nu|    |     |ã«ã‚ƒ nja|ã«ã‚‡ njo|ã«ã‚… nju"
				, "ã² fi|ã¸ fe|ã¯ fa|ã» fo|ãµ fu|    |     |ã²ã‚ƒ fja|ã²ã‚‡ fjo|ã²ã‚… fju"
				, "ã³ bi|ã¹ be|ã° ba|ã¼ bo|ã¶ bu|    |     |ã³ã‚ƒ bja|ã³ã‚‡ bjo|ã³ã‚… bju"
				, "ã¿ mi|ã‚ me|ã¾ ma|ã‚‚ mo|ã‚€ mu|    |     |ã¿ã‚ƒ mja|ã¿ã‚‡ mjo|ã¿ã‚… mju|||||||"
				].map(tds => tds.split("|")))

	// +section("vocabulary")
		table#conj
			tr
				th å¹¹
				th ç¾©
				th ã‹ãª
				th æœªç„¶
				th é€£ç”¨
				th çµ‚æ­¢
				th é€£é«”
				th å·²ç„¶
				th å‘½ä»¤
			tr
				td: +ruby("çˆ²", "s")
				td do
				td ã™ã‚‹
				+tds("si a'na|si i'mas|su r'u|su r'u|su r'eba|se jo".split("|"))
			tr
				td: +ruby("ä¾†", "c")
				td come
				td ãã‚‹
				+tds("ko a'na|ki i'mas|ku r'u|ku r'u|ku r'eba|ko i".split("|"))
			tr
				td: +ruby("è¨€", "if")
				td say
				td ã„ãµ
				+tds("if a'na|if i'mas|if r'u|if r'u|if r'eba|if e".split("|"))
			tr
				td: +ruby("è", "cic")
				td hear
				td ãã
				+tds("cic a'na|cic i'mas|cic r'u|cic r'u|cic r'eba|cic e".split("|"))
			tr
				td: +ruby("è¦‹", "mi")
				td see
				td ã¿ã‚‹
				+tds("mi a'na|mi i'mas|mi r'u|mi r'u|mi re'ba|mi jo".split("|"))
