html
  head
    link(rel="stylesheet", href="style.css")
  body
    main
      #picture
        img(src="image/avatar.png")
      #text
        #name
          ruby
            | 墨
            rt ſumı
          ruby
            | 幽
            rt qȷəù
          
        svg#twitter
          include image/twitter.svg
