extend /_layout.pug

mixin table(xss, transpose=false)
	table(class=transpose ? "transpose" : "")
		for xs in xss
			tr
				for x in xs
					td= x

block head
	- const title = "esperanto"

block main
	ul
		li no gender
		li no number
		li no /k/ - /tʃ/ discrimination

	+table(
		[ ["a", ""]
		, ["b", ""]
		, ["c", "c /tʃ/(ı|e) /k/"]
		, ["ĉ", ">c"]
		, ["d", ""]
		, ["e", ""]
		, ["f", ""]
		, ["g", "g /dʒ/(ı|e)"]
		, ["ĝ", ">g"]
		, ["h", "> x"]
		, ["ĥ", "x /ʃ/(ı|e) /x/"]
		, ["i", "ı /i/"]
		, ["j", "ȷ /j/"]
		, ["ĵ", ">ȷ >g"]
		, ["k", ">c"]
		, ["l", ""]
		, ["m", ""]
		, ["n", ""]
		, ["o", ""]
		, ["p", ""]
		, ["r", ""]
		, ["s", ""]
		, ["ŝ", ">x"]
		, ["t", ""]
		, ["u", ""]
		, ["ŭ", "v /w/"]
		, ["v", ">v"]
		, ["z", ""]
	], true)

	+section("grammar")
		+table([
			["noun", "-o"],
			["noun plural", "(not exist)"],
			["adjective", "-a"],
			["adverb", "-e"],
			["verb",  "-ı"],
			["verb past", "-ıs"],
			["present", "-as"],
			["future", "-os"],
			["imperative", "-us"],
			["conditional", "-u"],
			["perfective", "-ınt"],
			["perfective passive", "-ıt"],
			["progressive", "-ant"],
			["progressive passive", "-at"],
			["prospective", "-ont"],
			["prospective passsive", "-ot"],
		])

		+table([
			["i", "mı"],
			["you", "vı"],
			["he, she, it", "rı"],
			["self", "sı"],
			["one", "on"],
		])

		+table([
			[0, "nul"],
			[1, "unu"],
			[2, "du"],
			[3, "trı"],
			[4, "cvar"],
			[5, "cvın"],
			[6, "ses"],
			[7, "sep"],
			[8, "oc"],
			[9, "nav"],
			[10, "dec"],
			[100, "cent"],
			[1000, "mıl"],
		], true)

		+table([
			["", "interrogative", "demonstrative", "indefinite", "universal", "negative"],
			["truth", "cviu", "tiu", "iu", "ciu", "niu"],
			["noun", "cvio", "tio", "io", "cio", "nio"],
			["adjective", "cvia", "tia", "ia", "cia", "nia"],
			["adverb", "cvie", "tie", "ie", "cie", "nie"],
		])

		+table([
			["sentence to noun", "ce -"],
			["adjective to noun", "la -"],
			["imcomplete sentence to adjective", "ciu -"],
			["declarative to interrogative", "ciu"],
		])

		p "mi xavas libro." ~ "mi xavas libro-n." ~ "libro-n xavas mi."