extend /_layout.pug

block head
	- const title = "polish"

block main
	// https://en.wikibooks.org/wiki/Polish/Hard_and_soft_consonants

	center
		div
			div
				input(type="checkbox", name="uppercase")
				label uppercase

			textarea#source.
				py pi pii pia
				sy si sii sia sji sja
				ry ri rii ria
				rzy
				ły
				ly li lii lia
				ky ki kii kia
				cy ci cii cia cji cja
				ty ti tii tia
				ny ni nii nia

				# powszechną deklarację praw człowieka
				## artykuł 1
				wszyscy ludzie rodzą się wolni i równi pod względem swej godności i swych praw.
				są oni obdarzeni rozumem i sumieniem i powinni postępować wobec innych w duchu braterstwa.
				## artykuł 2
				każdy człowiek posiada wszystkie prawa i wolności zawarte w niniejszej Deklaracji bez względu na jakiekolwiek różnice rasy, koloru, płci, języka, wyznania, poglądów politycznych i innych, narodowości, pochodzenia społecznego, majątku, urodzenia lub jakiegokolwiek innego stanu.
				nie wolno ponadto czynić żadnej różnicy w zależności od sytuacji politycznej, prawnej lub międzynarodowej kraju lub obszaru, do którego dana osoba przynależy, bez względu na to, czy dany kraj lub obszar jest niepodległy, czy też podlega systemowi powiernictwa, nie rządzi się samodzielnie lub jest w jakikolwiek sposób ograniczony w swej niepodległości.
			textarea#sink-lat
			textarea#sink-cyr
			div: a#tweet tweet

		table.transpose.add-new
			tr
				th val.
				th trad.
				th lat.
				th cyr.
			+trs(
				[ "ɨ; y"
				, "ɛ; e"
				, "a; a"
				, "ɔ; o"
				, "u; u"
				, "i; i"
				, "ɛ̃; ę"
				, "ɔ̃; ą"
				, "u; ó"

				, "j ; j"

				, "p ; p"
				, "b ; b"
				, "f ; f"
				, "v ; w"
				, "m ; m"

				, "t ; t"
				, "t͡ɕ; ć"
				, "d ; d"
				, "d͡ʑ; dź"
				, "d͡ʐ; dż"
				, "s ; s"
				, "ɕ ; ś"
				, "z ; z"
				, "ʑ ; ź"
				, "n ; n"
				, "ɲ ; ń"
				, "r ; r"
				, "ʐ ; rz"
				, "w ; ł"
				, "l ; l"

				, "k ; k"
				, "t͡s; c"
				, "t͡ʂ; cz"
				, "ɡ ; g"
				, "d͡z; dz"
				, "ʐ ; ż"
				, "x ; ch"
				, "x ; h"
				, "ʂ ; sz"

				, "ʲɛ; ie"
				, "ʲa; ia"
				, "ʲɔ; io"
				, "ʲu; iu"
				, "ʲɛ̃; ię"
				, "ʲɔ̃; ią"
				].map(tds => tds.split(";")))


	+section("conjugation")
		div.tables
			mixin table(word, xss)
				table.nu
					tr
						th= word
						th sg.
						th pl.
					for xs, i in xss
						tr
							th= "nom gen dat acc ins loc voc".split(" ")[i]
							for x in xs
								td= x

			+table("store (m.ia.)",
				[ ["sklep"   , "sklepy"  ]
				, ["sklepu"  , "sklepów" ]
				, ["sklepowi", "sklepom" ]
				, ["{=nom}"  , "{=nom}"  ]
				, ["sklepem" , "sklepami"]
				, ["sklepie" , "sklepach"]
				, ["{=loc}"  , "{=nom}"  ]
				])

			+table("hotel (m.ia.)",
				[ ["hotel"   , "hotele"  ]
				, ["hotelu"  , "hoteli"  ]
				, ["hotelowi", "hotelom" ]
				, ["{=nom}"  , "{=nom}"  ]
				, ["hotelem" , "hotelami"]
				, ["hotelu"  , "hotelach"]
				, ["{=loc}"  , "{=nom}"  ]
				])

			+table("check (m.ia.)",
				[ ["stół"   , "stoły"  ]
				, ["stółu"  , "stołów" ]
				, ["stółowi", "stółom" ]
				, ["{=nom}" , "{=nom}" ]
				, ["stołem" , "stółami"]
				, ["stole"  , "stółach"]
				, ["{=loc}" , "{=nom}" ]
				])

			+table("pigeon (m.a.)",
				[ ["gołąb"    , "gołąbie"  ]
				, ["gołąbia"  , "gołąbi"   ]
				, ["gołąbiowi", "gołąbiom" ]
				, ["gołąbia"  , "{=nom}"   ]
				, ["gołąbiem" , "gołąbiami"]
				, ["gołąbiu"  , "gołąbiach"]
				, ["{=loc}"   , "{=nom}"   ]
				])

			+table("dog (m.a.)",
				[ ["pies"  , "psy"   ]
				, ["psa"   , "psów"  ]
				, ["psu"   , "psom"  ]
				, ["{=nom}", "{=nom}"]
				, ["psem"  , "psami" ]
				, ["psie"  , "psach" ]
				, ["{=loc}", "{=nom}"]
				])

			+table("cat (m.a.)",
				[ ["kot"   , "koty"  ]
				, ["kota"  , "kotów" ]
				, ["kotu"  , "kotom" ]
				, ["kota"  , "{=nom}"]
				, ["kotem" , "kotami"]
				, ["kocie" , "kotach"]
				, ["{=loc}", "{=nom}"]
				])

			+table("student (m.p.)",
				[ ["student"    , "studenci"  ]
				, ["studenta"   , "studentów"  ]
				, ["studentowi" , "studentom" ]
				, ["{=gen}"     , "{=gen}"    ]
				, ["studentiem" , "studentami"]
				, ["studencie"  , "studentach"]
				, ["{=loc}"     , "{=nom}"    ]
				])

			+table("doctor (m.p.)",
				[ ["lekarz"   , "lekarze"  ]
				, ["lekarza"  , "lekarzy"  ]
				, ["lekarzowi", "lekarzom" ]
				, ["{=gen}"   , "{=gen}"   ]
				, ["lekarziem", "lekarzami"]
				, ["lekarzu"  , "lekarzach"]
				, ["{=loc}"   , "{=nom}"   ]
				])

			// +table("man (m.p.)",
				[ ["człowiek"    , "ludzie"  ]
				, ["człowieka"   , "ludzi"   ]
				, ["człowiekowi" , "ludziom" ]
				, ["{=gen}"      , "{=gen}"  ]
				, ["człowiekiem" , "ludźmi"  ]
				, ["człowieku"   , "ludziach"]
				, ["{=loc}"      , "{=nom}"  ]
				])

			+table("woman (f.)",
				[ ["kobieta" , "kobiety"   ]
				, ["kobiety" , "kobiet"   ]
				, ["kobiecie", "kobietom" ]
				, ["kobietę" , "={nom}"   ]
				, ["kobietą" , "kobietami"]
				, ["kobiecie", "kobietach"]
				, ["kobieto" , "={nom}"   ]
				])

			+table("street (f.)",
				[ ["ulica" , "ulice"  ]
				, ["ulicy" , "ulic"   ]
				, ["ulicy" , "ulicom" ]
				, ["ulicę" , "={nom}" ]
				, ["ulicą" , "ulicami"]
				, ["{=dat}", "ulicach"]
				, ["ulico" , "={nom}" ]
				])

			+table("leg (f.)",
				[ ["noga"  , "nogi"  ]
				, ["nogi"  , "nóg"   ]
				, ["nodze" , "nogom" ]
				, ["nogę"  , "={nom}"]
				, ["nogą"  , "nogami"]
				, ["{=dat}", "nogach"]
				, ["nogo"  , "={nom}"]
				])

			+table("river (f)",
				[ ["rzeka" , "rzeki"  ]
				, ["rzeki" , "rzek"   ]
				, ["rzece" , "rzekom" ]
				, ["rzekę" , "{=nom}" ]
				, ["rzeką" , "rzekami"]
				, ["{=dat}", "rzekach"]
				, ["rzeko" , "{=nom}" ]
				])

			+table("town (n)",
				[ ["miasto" , "miasta"  ]
				, ["miasta" , "miast"   ]
				, ["miastu" , "miastom" ]
				, ["{=nom}" , "{=nom}"  ]
				, ["miastem", "miastami"]
				, ["miaście", "miastach"]
				, ["{=nom}" , "{=nom}"  ]
				])

			+table("town (n)",
				[ ["zdanie" , "zdania"  ]
				, ["zdania" , "zdań"    ]
				, ["zdaniu" , "zdaniom" ]
				, ["{=nom}" , "{=nom}"  ]
				, ["zdaniem", "zdaniami"]
				, ["zdaniu" , "zdaniach"]
				, ["{=nom}" , "{=nom}"  ]
				])
