extend /_layout.pug

block head
	- const title = "polish"

block main
	// https://en.wikibooks.org/wiki/Polish/Hard_and_soft_consonants

	center
		div
			div
				input(type="checkbox", name="uppercase")
				label uppercase

			textarea#source
				| # powszechną deklarację praw człowieka
				| ## artykuł 1
				| wszyscy ludzie rodzą się wolni i równi pod względem swej godności i swych praw.
				| są oni obdarzeni rozumem i sumieniem i powinni postępować wobec innych w duchu braterstwa.
				|
				| ## artykuł 2
				| każdy człowiek posiada wszystkie prawa i wolności zawarte w niniejszej Deklaracji bez względu na jakiekolwiek różnice rasy, koloru, płci, języka, wyznania, poglądów politycznych i innych, narodowości, pochodzenia społecznego, majątku, urodzenia lub jakiegokolwiek innego stanu.
				| nie wolno ponadto czynić żadnej różnicy w zależności od sytuacji politycznej, prawnej lub międzynarodowej kraju lub obszaru, do którego dana osoba przynależy, bez względu na to, czy dany kraj lub obszar jest niepodległy, czy też podlega systemowi powiernictwa, nie rządzi się samodzielnie lub jest w jakikolwiek sposób ograniczony w swej niepodległości.
			textarea#sink-lat
			textarea#sink-cyl

		table.transpose.add-new
			tr
				th val.
				th trad.
				th lat.
				th cyl.
			+trs(
				[ "ɨ; y"
				, "ɛ; e"
				, "a; a"
				, "ɔ; o"
				, "u; u"
				, "i; i"
				, "ɛ̃; ę"
				, "ɔ̃; ą"
				, "u; ó"

				, "j ; j"

				, "p ; p"
				, "b ; b"
				, "f ; f"
				, "v ; w"
				, "m ; m"

				, "t ; t"
				, "t͡ɕ; ć"
				, "d ; d"
				, "d͡ʑ; dź"
				, "d͡ʐ; dż"
				, "s ; s"
				, "ɕ ; ś"
				, "z ; z"
				, "ʑ ; ź"
				, "n ; n"
				, "ɲ ; ń"
				, "r ; r"
				, "ʐ ; rz"
				, "w ; ł"
				, "l ; l"

				, "k ; k"
				, "t͡s; c"
				, "t͡ʂ; cz"
				, "ɡ ; g"
				, "d͡z; dz"
				, "ʐ ; ż"
				, "x ; ch"
				, "x ; h"
				, "ʂ ; sz"
				].map(tds => tds.split(";")))


	+section("conjugation")
		div.tables
			table.nu
				tr
					+ths("woman(f.) sg. pl.".split(" "))
				tr
					th nom.
					td kobieta
					td(rowspan="3") kobiety
				tr
					th acc.
					td kobietę
				tr
					th voc.
					td kobieto
				tr
					th gen.
					td kobiety
					td kobiet
				tr
					th dat.
					td(rowspan="2") kobiecie
					td kobietom
				tr
					th loc.
					td kobietach
				tr
					th ins.
					td kobietą
					td kobietami

			table.nu
				tr
					+ths("boy(m.p.) sg. pl.".split(" "))
				tr
					th nom.
					td chłopak
					td chłopaki
				tr
					th acc., gen.
					td chłopaka
					td chłopaków
				tr
					th dat.
					td chłopakowi
					td chłopakom
				tr
					th ins.
					td chłopakiem
					td chłopakami
				tr
					th loc.
					td(rowspan="2") chłopaku
					td chłopakch
				tr
					th voc.
					td chłopaki

			table.nu
				tr
					+ths("cat(m.a.) sg. pl.".split(" "))
				tr
					th nom.
					td kot
					td(rowspan="2") koty
				tr
					th acc.
					td(rowspan="2") kota
				tr
					th gen.
					td kotów
				tr
					th dat.
					td kotu
					td kotom
				tr
					th ins.
					td kotem
					td kotami
				tr
					th loc.
					td(rowspan="2") kocie
					td kotach
				tr
					th voc.
					td koty

			table.nu
				tr
					+ths("computer(m.i.) sg. pl.".split(" "))
				tr
					th nom., acc.
					td komputer
					td komputery
				tr
					th gen.
					td komputera
					td komputerów
				tr
					th dat.
					td komputerowi
					td komputerom
				tr
					th ins.
					td komputerem
					td komputerami
				tr
					th loc.
					td(rowspan="2") komputerze
					td komputerach
				tr
					th voc.
					td komputery

			table.nu
				tr
					+ths("beer(n.) sg. pl.".split(" "))
				tr
					th nom., acc., voc.
					td piwo
					td piwa
				tr
					th gen.
					td piwa
					td piw
				tr
					th dat.
					td piw
					td piwom
				tr
					th ins.
					td piwem
					td piwami

			table.nu
				tr
					+ths("go sg. pl.".split(" "))
				tr
					th 1
					td idę, pójdę
					td idziemy, pójdziemy
				tr
					th 2
					td idziesz, pójdziesz
					td idziecie, pójdziecie
				tr
					th 3
					td idzie, pójdzie
					td idą, pójdą

			table.nu
				tr
					th(rowspan="2") black
					th(colspan="4") sg.
					th(colspan="2") pl.
				tr
					th f.
					th m.p., m.a.
					th m.i.
					th n.
					th other
					th m.p.
				tr
					th nom., voc.
					td czarna
					td(colspan="2") czarny
					td(rowspan="2", colspan="2") czarne
					td czarni
				tr
					th acc.
					td(rowspan="2") czarną
					td czarnego
					td czarny
					td czarnyx
				tr
					th ins.
					td(colspan="3", rowspan="2") czarnym
					td(colspan="2") czarnymi
				tr
					th loc.
					td(rowspan="3") czarnej
					td(colspan="2", rowspan="2") czarnych
				tr
					th gen.
					td(colspan="3") czarnego
				tr
					th dat.
					td(colspan="3") czarnemu
					td(colspan="2") czarnym




