extend /_layout.pug

block head
  - var title = "minimal-triangle"
  link(rel="stylesheet", href="style.css")
  script(type="text/javascript", src="script.js")

block main
  center
    textarea.trigger#input
      | abcdefghijklm
      | nopqrstuvwxyz
      | .,:;-'`

    table#options
      tr
        td character width
        td (posisive int)
        td
          input.trigger#char-w(type="number", min="1" value="64")
          |  [px]
      tr
        td stroke width
        td (positive int)
        td
          input.trigger#stroke-w(type="number", min="1", value="4")
          |  [px]
      tr
        td space between characters
        td (float)
        td
          input.trigger#space-x(type="number", value="0", step="any")
          |  [character]
      tr
        td space between lines
        td (float)
        td
          input.trigger#space-y(type="number", value="0.5", step="any")
          |  [character]
      tr
        td margin
        td (nonnegative float)
        td
          input.trigger#margin(type="number", min="0", value="1", step="any")
          |  [character]
      tr
        td color
        td
        td: input.trigger#color(type="color" value="#ffffff")
      tr
        td background color
        td
        td: input.trigger#bg-color(type="color", value="#000000")

    canvas#output

    div
      a#tweet tweet