extend /_layout.pug

block head
  - const title = "convert alphabet style"

block main
  ul
    li
      input.trigger(type="checkbox", name="undot")
      label dotless
    li
      label case
      select.trigger(name="case")
        option(selected)
        option(value="lower") lower
        option(value="upper") upper
    li
      label style
      select.trigger(name="style")
        option(selected)
        for k in "serif-bold serif-italic serif-bold-italic sans sans-bold sans-italic sans-bold-italic fraktur fraktur-bold script script-bold mono double".split(" ")
          option(value=k)= k.replace(/-/g, " ")

  .textareas
    textarea#in.trigger.
      ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
      ΑΒΓΔΕϜΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩαβγδεϝζηθικλμνξοπρςστυφχψω
      0123456789

      All human beings are born free and equal in dignity and rights.
      They are endowed with reason and conscience and should act towards one another in a spirit of brotherhood.
    textarea#out