article table {
  padding: 0;
  text-align: center; }
  article table tr, article table td, article table th {
    position: relative; }
  article table .over-th {
    text-align: center; }
    article table .over-th:before {
      content: "";
      height: 1px;
      overflow: hidden;
      background: white;
      position: absolute;
      left: 4px;
      right: 4px;
      bottom: 0; }
  article table tbody {
    display: inline-block;
    margin: 24px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid; }
    article table tbody:not(:first-of-type) {
      margin-left: 0; }
    article table tbody.consonant, article table tbody.vowel {
      display: inline-block; }
    article table tbody.consonant td {
      text-align: left; }
    article table tbody.vowel td {
      text-align: right; }
    article table tbody.tone td {
      text-align: right; }

article #cantonese .example td {
  text-align: left; }

article #cantonese .example th, article #cantonese .example tr:nth-of-type(2) {
  text-align: center; }

article #cantonese .converter {
  width: 100%;
  margin: 0;
  padding: 0; }
  article #cantonese .converter .from-to {
    width: 100%;
    margin: 0;
    pading: 0;
    display: flex; }
    article #cantonese .converter .from-to .from, article #cantonese .converter .from-to .to {
      margin: 0;
      padding: 4px;
      width: calc((100% - 32px) / 2);
      height: 120px;
      display: inline-block;
      bottom: 0;
      text-align: left;
      overflow-wrap: break-word;
      font-size: 14pt; }
    article #cantonese .converter .from-to .from {
      font-family: "Noto Sans"; }
    article #cantonese .converter .from-to .to {
      margin-left: 32px;
      bottom: 0;
      border: 1px solid; }
