extend /_layout.pug

block main
  +mySection("works")
    ul
      li: a(href="https://mlnphl.github.io/minimal-triangle/") letters
      li: a(href="https://note.com/melano/n/ned9e4f994056") romanization
      //li: a(href="duality/document.pdf") sequent calculi for intuitionistic substructural logics and their duals (PDF)
      li: a(href="calendar") calendar
