extend /_layout.pug

block head
  - var title = "works"

block main
  ul
    li: a(href="orthography") orthography
    li: a(href="minimal-triangle") font
    li: a(href="calendar") calendar
    li: a(href="https://note.com/melano/n/ned9e4f994056") romanization
    //li: a(href="duality/document.pdf") sequent calculi for intuitionistic substructural logics and their duals (PDF)
