extend /_layout.pug

block head
	- const title = "old church slavonic alphabet"

block main
	table
		-
			const xss = [
				"Ⰰ А A ",
				"Ⰱ Б B ",
				"Ⰲ В W ",
				"Ⰳ Г G ",
				"Ⰴ Д D ",
				"Ⰵ Є E ",
				"Ⰶ Ж Ž ZH",
				"Ⰷ Ѕ Ʒ DZ",
				"Ⰸ З Z ",
				"Ⰹ Ι I ",
				"Ⰺ Ї I ",
				"Ⰻ И I ",
				"Ⰼ Ꙉ Ǯ DZH",
				"Ⰽ К K ",
				"Ⰾ Л L ",
				"Ⰿ М M ",
				"Ⱀ Н N ",
				"Ⱁ О O ",
				"Ⱂ П P ",
				"Ⱄ С S ",
				"Ⱅ Т T ",
				"Ⱆ Ꙋ U ",
				" У U ",
				"Ⱇ Ф F ",
				"Ⱈ Х X ",
				"Ⱉ Ѡ O ",
				"Ⱋ Щ Ť SHT",
				"Ⱌ Ц C ",
				"Ⱍ Ч Č CH",
				"Ⱎ Ш Š SH",
				"Ⱏ Ъ Ŭ UH",
				"ⰟⰊ Ꙑ ŬI UHI",
				"Ⱐ Ь Ĭ IH",
				"Ⱑ Ѣ Æ AE",
				" Ꙗ JA ",
				" Ѥ JE ",
				"Ⱖ Ё JO ",
				"Ⱓ Ю JU ",
				"Ⱔ Ѧ Ę EH",
				"Ⱗ Ѩ JĘ JEH",
				"Ⱘ Ѫ Ǫ OH",
				"Ⱙ Ѭ JǪ JOH",
				" Ѯ KS ",
				" Ѱ PS ",
				"Ⱚ Ѳ Þ TH",
				"Ⱛ Ѵ Y ",
				" Ҁ Q ",
			]
		for xs in xss
			tr
				for x in xs.split(" ")
					td= x