extend /_layout.pug

block head
  - const title = "japanese classical"
  - const tags = ["draft"]

block main
  table
    caption verb
    +trs([
      ["after", "EN", "CH", "conjugation", "stem", "irrealis", "continuative", "terminal", "attributive", "realis", "imperative",],
      ["", "do", "爲", "s-irregular", "s", "e", "i", "u", "uru", "ure", "e",],
      ["", "die", "死", "n-irregular", "sin", "a", "i", "u", "uru", "ure", "e",],
      ["continuative", "have done", "", "n-irregular", "n", "a", "i", "u", "uru", "ure", "e",],
      ["", "be", "在", "r-irregular", "ar", "a", "i", "i", "u", "e", "e",],
      ["continuative", "did", "", "r-irregular", "ker", "a", "i!", "i", "u", "e", "e!",],
      ["continuative", "be doing", "", "r-irregular", "tar", "a", "i", "i", "u", "e", "e",],
      ["attributive", "do do", "", "r-irregular", "nar", "a", "i", "i", "u", "e", "e",],
      ["irrealis", "not do", "", "irregular", "z", "ara", "ari", "u", "aru", "are", "are",],
      ["", "come", "來", "k-irregular", "k", "o", "i", "u", "uru", "ure", "o",],
      ["", "kick", "蹴", "1", "ke", "", "", "ru", "ru", "re", "",],
      ["", "be", "居", "1", "vi", "", "", "ru", "ru", "re", "",],
      ["", "get", "得", "low 2", "", "e", "e", "u", "uru", "ure", "e",],
      ["", "see", "見", "low 2", "mij", "e", "e", "u", "uru", "ure", "e",],
      ["", "plant", "植", "low 2", "uv", "e", "e", "u", "uru", "ure", "e",],
      ["irrealis", "let do", "", "low 2", "sim", "e", "e", "u", "uru", "ure", "e",],
      ["{4, {n, r}-irregular} irrealis", "be done", "", "low 2", "r", "e", "e", "u", "uru", "ure", "e",],
      ["other conjugation irrealis", "be done", "", "low 2", "rar", "e", "e", "u", "uru", "ure", "e",],
      ["", "live", "生", "high 2", "ik", "i", "i", "u", "uru", "ure", "i",],
      ["", "age", "老", "high 2", "oj", "i", "i", "u", "uru", "ure", "i",],
      ["", "write", "書", "4", "kak", "a", "i", "u", "u", "e", "e",],
      ["", "eat", "食", "4", "kuf", "a", "i", "u", "u", "e", "e",],
      ["irrealis", "will do", "", "4", "m", "a!", "i!", "u", "u", "e", "e!",],
    ])
