extend /_layout.pug

block head
  - const title = "work"

block main
  ul
    li: a(href="/lang") language
    li font
      ul
        li: a(href="font/minimal-triangle").undot minimal triangle
        li: a(href="font/three-series").undot þree series
        li: a(href="font/tri").undot tri
    //li: a(href="calendar") calendar
    //li: a(href="duality/document.pdf") sequent calculi for intuitionistic substructural logics and their duals (PDF)
