extend /_layout.pug

block head
	- const title = "'phags-pa"
	- const tag = ["draft"]
	- const vertical = true

block main
	table.center
		//ꡣꡗꡭ
		+trs([
			["ꡖ q", "", "∅ ∅", "", "", "", "", "", "ꡝ a", ""],
			["ꡀ k", "ꡁ kx", "ꡂ c", "ꡃ g", "ꡜ x", "ꡯ h"],
			["ꡄ ḳ", "ꡅ ḳx", "ꡆ ċ", "ꡇ ġ", "ꡚ ẋ", "ꡔ ḥ", "ꡗ j", "ꡨ J", "ꡞ i", "ꡠ e"],
			["ꡩ ṫ", "ꡪ ṫx", "ꡫ ḋ", "ꡬ ṅ", "ꡮ ṡ", "ꡚ ż", "ꡘ r", "ꡱ R", ""],
			["ꡈ t", "ꡉ tx", "ꡊ d", "ꡋ n", "", "", "", "", "", ""],
			["ꡐ ŧ", "ꡑ ŧx", "ꡒ đ", "", "ꡛ s", "ꡕ z", "ꡙ l"],
			["ꡌ p", "ꡍ px", "ꡎ b", "ꡏ m", "ꡤ f", "ꡰ w", "ꡓ v", "ꡧ V", "ꡟ u", "ꡡ o"],
		].map(xs => xs.map(x => x.replace(/ /, "\n"))))

	table.center
		+trs([
			"天地玄黃",
			"txìn di hỳn hvòg".split(" "),
			"ꡉꡞꡋ ꡊꡞ ꡯꡗꡋ ꡯꡧꡡꡃ".split(" "),
		])
