extend /_layout.pug

block head
	- const title = "'phags-pa"
	- const tag = ["draft"]

block main
	.textareas
		textarea.phag.
		textarea

	table.center
		//ꡣꡗꡭꡯ
		+trs([
			["ꡝ", "", "", "", "", "", "", "", "", ""],
			["ꡀ", "ꡁ", "ꡂ", "ꡃ", "ꡜ", "ꡖ"],
			["ꡄ", "ꡅ", "ꡆ", "ꡇ", "ꡚ", "ꡔ", "ꡗ", "ꡨ", "ꡞ", "ꡠ"],
			["ꡩ", "ꡪ", "ꡫ", "ꡬ", "ꡮ", "" , "ꡘ", "ꡱ", ""],
			["ꡈ", "ꡉ", "ꡊ", "ꡋ", "", "", "", "", "", ""],
			["ꡐ", "ꡑ", "ꡒ", "", "ꡛ", "ꡕ", "ꡙ"],
			["ꡌ", "ꡍ", "ꡎ", "ꡏ", "ꡤ", "ꡰ", "ꡓ", "ꡧ", "ꡟ", "ꡡ"],
		])