-
	const suzuli = {
		heightM: 1.75,
		weightKg: 70,
		names: [
			"硯",
			"suzuli (ja, [sɯzɯɾi])",
			"gin (yue, [ŋiːn˧])",
			"la .ximrok (jbo, [la ʔximrok])",
		],
	};
	const mitulu = {
		heightM: 1.85,
		weightKg: 80,
		names: [
			"盈",
			"mitulu (ja, [mitɯɾɯ])",
			"ìg (yue, [ɪŋ˧˩])",
			"la .liktis (jbo, [la ʔliktis])",
		],
	};

	const toDay = s =>
		Math.ceil(
			new Date(s).getTime() - new Date(`${s.split("-")[0]}-01-01`).getTime()
		) / (1000 * 3600 * 24)

	suzuli.age = 22
	suzuli.birthYear = 2017 + 10000 - suzuli.age
	suzuli.birthDay = toDay("2017-11-01")

	mitulu.age = suzuli.age - 2
	mitulu.birthYear = suzuli.birthYear - mitulu.age + suzuli.age
	mitulu.birthDay = toDay("2020-04-14")
