extend /_layout.pug

block head
	- const title = "armenian"
	- const tags = ["draft"]

block main
	.textareas
		textarea#0.
		textarea#1

	table
		tr
			td
			td.ka i
			td.ka e
			td.ka a
			td.ka o
			td.ka u
		tr
			td
			td.ka k
			td.ka č
			td.ka c
			td.ka t
			td.ka p
		tr
			td.ka q
			td.ka k'
			td.ka č'
			td.ka c'
			td.ka t'
			td.ka p'
		tr
			td
			td.ka g
			td.ka ǯ
			td.ka ʒ
			td.ka d
			td.ka b
		tr
			td.ka h
			td.ka x
			td.ka š
			td.ka s
			td.ka
			td.ka (f)
		tr
			td
			td.ka j
			td.ka ž
			td.ka z
			td.ka
			td.ka w
		tr
			td
			td
			td
			td.ka l
			td.ka n
			td.ka m
