extend /_layout.pug

block head
	- const title = "georgian"
	- const tags = ["draft"]

block main
	.textareas
		textarea#0.
			აბგდევზთიკლმნოპჟრსტუფქღყშჩცძწჭხჯჰ

			# ადამიანთა უფლებების საყოველთაო დეკლარაცია
			## მუხლი 1.
			ყოველი ადამიანი იბადება თავისუფალი და თანასწორი თავისი ღირსებითა და უფლებებით. მათ მინიჭებული აქვთ გონება და სინდისი და ერთმანეთის მიმართ უნდა ექცეოდნენ ძმობის სულისკვეთებით.
		textarea#1

	center
		table
			tr
				td
				td.ka i
				td.ka e
				td.ka a
				td.ka o
				td.ka u
			tr
				td
				td.ka k
				td.ka ṭ
				td.ka ŧ
				td.ka t
				td.ka p
			tr
				td.ka q
				td.ka k'
				td.ka ṭ'
				td.ka ŧ'
				td.ka t'
				td.ka p'
			tr
				td
				td.ka c
				td.ka ḍ
				td.ka đ
				td.ka d
				td.ka b
			tr
				td.ka h
				td.ka x
				td.ka ṣ
				td.ka s
				td
				td.ka f
			tr
				td
				td.ka g
				td.ka ẓ
				td.ka z
				td
				td.ka w
			tr
				td
				td
				td
				td.ka r l
				td.ka n
				td.ka m
