@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

textarea {
  width: 50%;
  height: 20em;
  font: inherit;
  resize: none;
  outline: none;
}

.textareas {
  display: flex;
}
