extend /_layout.pug

block head
  - const title = "orthography"

block main
  ul
    li: a(href="https://sumimq.github.io/chinese/") chinese
    li: a(href="polish") polish
    li: a(href="japanese") japanese
    li: a(href="interslavic") interslavic
