table
  tbody
    margin: 8px
    text-align: center

    tr td
      position: relative

    td.over-th:before
      content: ""
      // display: block
      height: 1px
      overflow: hidden
      background: white
      position: absolute
      left: 4px
      right: 4px
      bottom: 0

    &.consonant, &.vowel
      display: inline-block

    &.consonant td
      text-align: left
    &.vowel td
      text-align: right
    &.tone td
      text-align: right