extend /_layout.pug

block vars
	- var title = "suzuri"

block main
	+mySection(title)
		+mySection("事實")
			p これらは豫告無く變更されることが有ります。

			ul
				li メタ
					ul
						li 彼はsumiが作成した架空のキャラクタです。
				li 基本
					ul
						li 名前:<ruby>硯<rt>スズリ</rt></ruby>
						li 生年月日：████-01-24
						li 年齢：23
						li 日本生まれ日本育ち
						li 日本語と英語を話す
						li 情報科学専攻の大學院生
						li 所在：東日本のどこかの1DKアパート
				li 身體
					ul
						li 身長：1.75m
						li 体質量：60kg
						li 花粉症を除き健康
						li
				li 外見
					ul
						li ピアスを開けるのを好む
							ul
								li ロブ・インダストリアル・トラガス・センタータン
						li モノクロ・暗色を好む
						li 暑くても長袖を着ることが多い
						li 髪は長めで、前髪が右目を隱してゐることが多い
						li 髪色：アッシュグレイ
						li 視力が惡く、日常的に接觸鏡を使ふが、家では眼鏡を掛ける
				li 精神
					ul
						li 體格がそこそこ良いが、本當は中性的な服装を好むので似合わない自身の體を餘り好まない
						li bass guitarを彈くのを好む
							ul: li <i>Synapse XS-15FPA PB</i>を使ふ
						li 日本のオルタナロックを聽くのを好む
							ul: li <i>Zazen Boys</i>を最も好む
						li 極稀にしか喫煙しないが、常に<i>Marlboro Ice Blast</i>を一箱携帯する
							ul: li 昔慕ってゐた人の影響
						li 飲酒を好み、生得的に笊
							ul
								li 家ではサッポロ黒ラベルを能く飲む
								li 酔った振りをして人の體に接觸するのを好む
						li 快樂主義者
						li 社會自由主義者
						li 無自覺な反出生主義者
				li 性的
					ul
						li シスジェンダ・男性愛者・男性
							ul: li 男性愛者であるのを特に隱さないが、何も無ければ明かしもしない
						li 陰莖長：16.2cm
						li リバだが、能ふ限りネコになるのを好む
							ul: li ネコのときは甘えたになる
						li 單に金錢目的で性行爲をすることが有る
						li 首を絞められるのを好む
						li ポリアモリスト
						li 大體1回/日自慰する
						li 処女は19歳、童貞は21歳のときに失った

		+mySection("出來事")
			p 準備中

		+mySection("雜談")
			a(href="https://twitter.com/search?f=tweets&q=(from%3Amelanizo%20OR%20from%3Amelanophil)%20(suzuri%20OR%20%E3%82%B9%E3%82%BA%E3%83%AA%20OR%20%E7%A1%AF)&src=typd") tweets by sumi
			p 非公式なものなので別解釋は常に許容される。

		+mySection("畫像")
			p 性的なもの含めファンアートは常に大いに歡迎・感謝されます。

			+mySection("2018-08-01")
				center
					img(src="/images/suzuri/2018-08-01.png", width="320")


			+mySection("2018-12-04")
				p 作：一人先生 @nasu_zoi
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr">わかんなかったとこは、捏造した <a href="https://t.co/MPDLpSVi1Q">pic.twitter.com/MPDLpSVi1Q</a></p>&mdash; 一人 (@nasu_zoi) <a href="https://twitter.com/nasu_zoi/status/1069800047636856832?ref_src=twsrc%5Etfw">2018年12月4日</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-04-23")
				center
					img(src="/images/suzuri/2019-04-23.png", width="320")

			+mySection("2019-07-18")
				p 作：にしきまる先生 @sikotamazou（有償依頼）
				a(href="https://skeb.jp/works/9854") Skeb
				center
					<blockquote class="twitter-tweet" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> 先生に依頼していたスズリ君が納品されました　最高に可愛い　文句無し　依頼して良かった</p>&mdash; 𝗦𝗨𝗠𝗜 (@melanophil) <a href="https://twitter.com/melanophil/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

		+mySection("リンク")
			ul
				li
					a(href="https://twitter.com/intent/user?user_id=1069897257120460800") Twitter
					|  準備中
