extend /_layout.pug

mixin a_img(src, width)
	a(href=src)
		img(src=src, width=width)

block vars
	- var title = "suzuri"

block main
	+mySection(title)
		p スズリ（suzuri-2.0）はsumiが作成した架空のキャラクタです。

		+mySection("事實")
			p これらは豫告無く變更されることが有ります。

			ul
				li 基本
					ul
						li 名前:<ruby>硯<rt>スズリ</rt></ruby>
						li 生年月日：████-01-24
						li 年齢：23
						li 日本生まれ日本育ち
						li 日本語と英語を話す
						li 情報科学専攻の大學院生
						li 所在：東日本のどこかの1DKアパート
				li 身體
					ul
						li 身長：1.75m
						li 体質量：60kg
						li 花粉症を除き健康
				li 外見
					ul
						li ピアスを開けるのを好む
							ul
								li ロブ　インダストリアル　トラガス　センタータン
						li モノクロ・特に黒を好む
						li 暑くても長袖を着ることが多い
						li 髪は長めで、前髪が右目を隱してゐることが多い
						li 髪色：ash gray
						li 視力が惡く日常的に接觸鏡を使ふが、家では眼鏡を掛ける
						li 細身だが筋肉質
						li 腋・VIOの體毛（黒）は短めに整えられてゐる
				li 精神
					ul
						li 體格がそこそこ良いが、本當は中性的な服装を好むので似合はない自身の體を餘り好まない
						li bass guitarを彈くのを好む
							ul: li <i>Synapse XS-15FPA PB</i>を使ふ
						li 日本のalternative rockを聽くのを好む
							ul: li <i>Zazen Boys</i>を最も好む
						li 極稀にしか喫煙しないが、常に<i>Marlboro</i>を一箱携帯する
							ul: li 昔慕ってゐた人の影響
						li 飲酒を好み、生得的に笊
							ul
								li 家ではサッポロ黒ラベルを能く飲む
								li 酔った振りをして人の體に接觸するのを好む
						li 快樂主義者
						li 社會自由主義者
						li 無自覺な反出生主義者
				li 性
					ul
						li cisgender　男性愛者　男性
							ul: li 男性愛者であるのを特に隱さないが、何も無ければ明かしもしない
						li リバだが、能ふ限りネコになるのを好む
							ul: li ネコのときは甘えたになる
						li 單に金錢目的で性行爲をすることが有る
						li 首を絞められるのを好む
						li polyamorist
						li 大體1囘/日自慰する
						li 処女は19歳、童貞は21歳のときに失った
						li 陰莖：16.2cm　カリ高　やや下反り　起っても半剥け
							ul: li （メタ）但し描畫される際、大きさは任意である（大きくなることが多い）

		+mySection("物語")
			ul
				li: a(href="https://www.pixiv.net/novel/show.php?id=11419092") 0

		+mySection("雜談")
			a(href="https://twitter.com/search?f=tweets&q=(from%3Amelanizo%20OR%20from%3Amelanophil)%20(suzuri%20OR%20%E3%82%B9%E3%82%BA%E3%83%AA%20OR%20%E7%A1%AF)&src=typd") tweets by sumi
			p 非公式なものなので別解釋は常に許容されます。

		+mySection("畫像")
			p 性的なもの含めファンアートは常に大いに歡迎・感謝されます。

			dl
				dt 描く際の追加參考情報
				dd
					ul
						li ピアスは左耳のみ
						li 前髪が隱すのは右目のみ
						li 服装は決まってゐないが、長袖シャツ（暗灰）・スキニーパンツ（黒）・ハイカットブーツ（黒）がde facto standard

			+mySection("2018-08-01")
				center
					img(src="/images/suzuri/2018-08-01.png", width="320")

			+mySection("2018-12-04")
				p 作：@nasu_zoi 先生
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr">わかんなかったとこは、捏造した <a href="https://t.co/MPDLpSVi1Q">pic.twitter.com/MPDLpSVi1Q</a></p>&mdash; 一人 (@nasu_zoi) <a href="https://twitter.com/nasu_zoi/status/1069800047636856832?ref_src=twsrc%5Etfw">2018年12月4日</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-04-23")
				center
					img(src="/images/suzuri/2019-04-23.png", width="320")

			+mySection("2019-07-18")
				p 作：@sikotamazou 先生（有償依頼）
				a(href="https://skeb.jp/works/9854") Skeb
				center
					<blockquote class="twitter-tweet" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> 先生に依頼していたスズリ君が納品されました　最高に可愛い　文句無し　依頼して良かった</p>&mdash; 𝗦𝗨𝗠𝗜 (@melanophil) <a href="https://twitter.com/melanophil/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-07-26 0")
				center
					<blockquote class="twitter-tweet" data-conversation="none" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr">遅くなりましたが誕生日おめでとう御座います!スズリくん描かせて頂きました… <a href="https://t.co/3JS1r6kXg2">pic.twitter.com/3JS1r6kXg2</a></p>&mdash; まぁく (@MK2ma_c) <a href="https://twitter.com/MK2ma_c/status/1154736325766942720?ref_src=twsrc%5Etfw">July 26, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-07-26 1")
				p 詳細非公開
				center
					+a_img("https://pbs.twimg.com/media/EAawLRZUIAAXIae.jpg", 480)

			+mySection("2019-08-04")
				center
					<blockquote class="twitter-tweet" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr"><a href="https://twitter.com/melanophil?ref_src=twsrc%5Etfw">@melanophil</a> めちゃくちゃ遅くなりまして申し訳ないのですがお誕生日おめでとうございます…！ happy birtday... <a href="https://t.co/0XZUjutoOi">pic.twitter.com/0XZUjutoOi</a></p>&mdash; 甘い酒 (@sweetZAKE) <a href="https://twitter.com/sweetZAKE/status/1157737672439320576?ref_src=twsrc%5Etfw">August 3, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-09-27")
				center
					<blockquote class="twitter-tweet" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr">うーんいない <a href="https://t.co/8lFhYofgu6">pic.twitter.com/8lFhYofgu6</a></p>&mdash; 司ろう。 (@shi46_u) <a href="https://twitter.com/shi46_u/status/1177286451647508480?ref_src=twsrc%5Etfw">September 26, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

		+mySection("連結")
			ul
				li
					a(href="https://twitter.com/intent/user?user_id=1069897257120460800") Twitter
					|  準備中
