extend /_layout.pug

block vars
	- var title = "suzuri"

block main
	+mySection(title)
		+mySection("picture")
			figure
				img#suzuri(src="/images/suzuri.png", alt="a picture of suzuri")

		+mySection("facts")
			p these may be changed.

			ul
				li meta
					ul
						li ze is a fictional character which sumi created
				li basic
					ul
						li name: <ruby>ç¡¯<rt>suzuri</rt></ruby>
						li birthday: â–ˆâ–ˆâ–ˆâ–ˆ-01-24
						li age: 2â–ˆ
						li ze was born and raised in Japan
						li ze speaks japanese and english
						li ze is a graduate student of information science
						li ze is living alone in a 1DK apartment in a provincial city in eastern japan
				li physical
					ul
						li height: 1.75m
						li weight: 60kg
				li mental
					ul
						li ze does not like zir a bit muscular body because ze likes gender-neutral or feminine clothes, which ze actually does not wear
						li ze likes to play the bass
							ul: li ze uses <i>Synapse XS-15FPA PB</i>
						li ze loves to listen to japanese alternative rocks
							ul: li <i>Zazen Boys</i> is zir most favorite band
						li ze rarely smokes but always carries a pack of <i>Marlboro Ice Blast</i>
						li ze likes to drink and can drink a lot
							ul
								li ze often drinks <i>Sapporo Draft Beer Kuro Label</i>
								li ze likes to make physical contacts, pretending to be a drunk
						li ze is a hedonist
						li ze is unawarely an antinatalist
						li ze is a social liberalist
				li sexual
					ul
						li ze is a cisgendered androsexual androromantic male
						li ze is versatile but prefers to bottom
							ul: li ze becomes kissy when ze is a bottom
						li ze some times has sex just for money
						li ze is a polyamorist
						li ze masturbates almost everyday

		+mySection("episodes")
			p in preparation

		+mySection("talks")
			a(href="https://twitter.com/search?f=tweets&q=(from%3Amelanizo%20OR%20from%3Amelanophil)%20(suzuri%20OR%20%E3%82%B9%E3%82%BA%E3%83%AA%20OR%20%E7%A1%AF)&src=typd") tweets by sumi
			p these are just unofficial ideas and not definitive.

		+mySection("arts")
			p fan arts, including NSFW things, are always welcome and greatly appreciated!!!

			+mySection("2018-08-01")
				center
					img(src="/images/suzuri/2018-08-01.png", width="320")


			+mySection("2018-12-04")
				p drawn by ä¸€äºº-sensei @nasu_zoi.
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr">ã‚ã‹ã‚“ãªã‹ã£ãŸã¨ã“ã¯ã€æé€ ã—ãŸ <a href="https://t.co/MPDLpSVi1Q">pic.twitter.com/MPDLpSVi1Q</a></p>&mdash; ä¸€äºº (@nasu_zoi) <a href="https://twitter.com/nasu_zoi/status/1069800047636856832?ref_src=twsrc%5Etfw">2018å¹´12æœˆ4æ—¥</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-04-23")
				center
					img(src="/images/suzuri/2019-04-23.png", width="320")

			+mySection("2019-07-18")
				p drawn by (ã«ã—ãã¾ã‚‹-sensei @sikotamazou) for my request.
				center
					<blockquote class="twitter-tweet" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> å…ˆç”Ÿã«ä¾é ¼ã—ã¦ã„ãŸã‚¹ã‚ºãƒªå›ãŒç´å“ã•ã‚Œã¾ã—ãŸã€€æœ€é«˜ã«å¯æ„›ã„ã€€æ–‡å¥ç„¡ã—ã€€ä¾é ¼ã—ã¦è‰¯ã‹ã£ãŸ</p>&mdash; ğ—¦ğ—¨ğ— ğ—œ (@melanophil) <a href="https://twitter.com/melanophil/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

		+mySection("links")
			ul
				li
					a(href="https://twitter.com/intent/user?user_id=1069897257120460800") Twitter
					|  (not yet in operation)
