extend /_layout.pug

block head
  - const title = "On-jomi"
  - const tags = ["draft"]

block main
  table.center
    tr
      +ths(["", "あ", "い", "う", "え", "お",])
    +thTrs([
      ["あ", "ᅙᅡ", "ᅙᅵ", "ᅙᅳ", "ᅙᅥ", "ᅙᅩ",],
      ["か", "카", "키", "크", "커", "코",],
      ["が", "가", "기", "그", "거", "고",],
      ["か゚", "ᅌᅡ", "ᅌᅵ", "ᅌᅳ", "ᅌᅥ", "ᅌᅩ",],
      ["さ", "차", "치", "츠", "처", "초",],
      ["ざ", "자", "지", "즈", "저", "조",],
      ["た", "타", "티", "트", "터", "토",],
      ["だ", "다", "디", "드", "더", "도",],
      ["な", "나", "니", "느", "너", "노",],
      ["は", "파", "피", "프", "퍼", "포",],
      ["ば", "바", "비", "브", "버", "보",],
      ["ま", "마", "미", "므", "머", "모",],
      ["や", "ᅙᅣ", "ᅙퟄ", "ᅙᆜ", "ᅙᅧ", "ᅙᅭ",],
      ["ら", "라", "리", "르", "러", "로",],
      ["わ", "ᅙힹ", "ᅙᅴ", "ᅙᆖ", "ᅙힺ", "ᅙힼ",],
    ])

  table.center
    tr
      +ths(["", "i", "e", "a", "o", "u", "ji", "je", "ja", "jo", "ju", "vi", "ve", "va", "vo", "vu",])
    +thTrs([
      [" ", "ᅵ", "ᅥ", "ᅡ", "ᅩ", "ᅳ", "ퟄ", "ᅧ", "ᅣ", "ᅭ", "ᅲ", "", "", "", "", "",],
      ["i", ""  , "ᅦ", "ᅢ", "ᅬ", "ᅴ", "", "ᅨ", "ᅤ", "ᆈ", "ᆔ", "", "", "", "",],
      ["u", "ᆚ", "ᅺ", "ᅶ", "ᆂ", "", "", "ᅽ", "ᅸ", "ᆇ", "", "", "", "", "",],
      ["g", "ᅵᇰ", "ᅥᇰ", "ᅡᇰ", "ᅩᇰ", "ᅳᇰ", "", "ᅧᇰ", "ᅣᇰ", "ᅭᇰ", "ᅲᇰ", "ᇰ", "ᇰ", "ᇰ"],
      ["n", "ᅵᆫ", "ᅥᆫ", "ᅡᆫ", "ᅩᆫ", "ᅳᆫ", "", "ᅧᆫ", "ᅣᆫ", "ᅭᆫ", "ᅲᆫ", "ᆫ", "ᆫ", "ᆫ",],
      ["m", "ᅵᆷ", "ᅥᆷ", "ᅡᆷ", "ᅩᆷ", "ᅳᆷ", "", "ᅧᆷ", "ᅣᆷ", "ᅭᆷ", "ᅲᆷ", "ᆷ", "ᆷ", "ᆷ",],
      ["k", "ᅵᆨ", "ᅥᆨ", "ᅡᆨ", "ᅩᆨ", "ᅳᆨ", "", "ᅧᆨ", "ᅣᆨ", "ᅭᆨ", "ᅲᆨ", "ᆨ", "ᆨ", "ᆨ",],
      ["t", "ᅵᆮ", "ᅥᆮ", "ᅡᆮ", "ᅩᆮ", "ᅳᆮ", "", "ᅧᆮ", "ᅣᆮ", "ᅭᆮ", "ᅲᆮ", "ᆮ", "ᆮ", "ᆮ",],
      ["p", "ᅵᆸ", "ᅥᆸ", "ᅡᆸ", "ᅩᆸ", "ᅳᆸ", "", "ᅧᆸ", "ᅣᆸ", "ᅭᆸ", "ᅲᆸ", "ᆸ", "ᆸ", "ᆸ",],
    ])

  table
    tr
      td すべての人間は、
      td 生まれながらにして自由であり、
      td かつ、
      td 尊嚴と權利とについて平等である。
      td 人間は、
      td 理性と良心とを授けられており、
      td 互いに同胞の精神をもって行動しなければならない。
    tr
      td 츠브터노 닌컨바,
      td ᅙᅳ마러나가라니츠터 지ᅙᆕ?더ᅙᅡ리,
      td 카트,
      td 초ᇰᅌᅥᆷ토 ᄀힺᆫ리토니트ᅙᅵ터 뱌ᇰ타ᇰ더ᅙᅡ르.
      td 닌컨바,
      td 리처ᇰ토 랴ᇰ침토ᅙힼ 차드커라러터ᅙힼ리,
      td 타가피니 드ᇰᄑᆣ노 챠ᇰ치ᇰᅙힼ 모티터 아ᇰ드ᇰ치나커러바나라나ᅙᅡ.
