extend /_layout.pug

block head
	- const title = "mandarin"
	- const tag = ["draft"]

block main
	.textareas
		textarea
		textarea
		textarea

	.tables
		table
			tr
				th(rowspan=2)
				th(rowspan=2) ∅
				th(colspan=5) ǝ
				th(colspan=5) a
				th(rowspan=2)
			tr
				for i in [0, 1]
					th ∅
					th i
					th u
					th n
					th g
			tr
				th ∅
				td ㄭ<br>∅
				td ㄛ<br>e
				td ㄟ<br>ei
				td ㄡ<br>eu
				td ㄣ<br>en
				td ㄥ<br>eg

				td ㄚ<br>a
				td ㄞ<br>ai
				td ㄠ<br>au
				td ㄢ<br>an
				td ㄤ<br>ag

				td(rowspan=4) ㄦ<br>r
			tr
				th i
				td ㄧ<br>i
				td ㄧㄛ<br>ie
				td
				td ㄧㄡ<br>iu
				td ㄧㄣ<br>in
				td ㄧㄥ<br>ig

				td ㄧㄚ<br>ia
				td
				td ㄧㄠ<br>iau
				td ㄧㄢ<br>ian
				td ㄧㄤ<br>iag
			tr
				th u
				td ㄨ<br>u
				td ㄨㄛ<br>ue
				td ㄨㄟ<br>ui
				td
				td ㄨㄣ<br>un
				td ㄨㄥ<br>ug

				td ㄨㄚ<br>ua
				td ㄨㄞ<br>uai
				td
				td ㄨㄢ<br>uan
				td ㄨㄤ<br>uag
			tr
				th y
				td ㄩ<br>y
				td ㄩㄛ<br>ye
				td
				td
				td ㄩㄣ<br>yn
				td ㄩㄥ<br>yg

				td
				td
				td
				td ㄩㄢ<br>yan
				td

		table
			tr
				td ㄅ<br>b
				td ㄆ<br>p
				td ㄈ<br>f
				td ㄇ<br>m
			tr
				td ㄉ<br>d
				td ㄊ<br>t
				td
				td ㄋ<br>n
			tr
				td ㄗ<br>đ
				td ㄘ<br>ŧ
				td ㄙ<br>s
				td ㄌ<br>l
			tr
				td ㄓ<br>ḍ
				td ㄔ<br>ṭ
				td ㄕ<br>ṣ
				td ㄖ<br>r
			tr
				td ㄍ<br>c
				td ㄎ<br>k
				td ㄏ<br>x
				td ㄫ<br>g
