extend /_layout.pug

block head
  - const title = "tri"

block main
  textarea.
    k t p  x s f   K T P  X S F
    c d b  h z w   C D B  H Z W
    g n m  j l v   G N M  J L V
    i a u  e y o   I A U  E Y O

    ! . ?  _ - ^  ( )

