extend /_layout.pug

block main
	+mySection("documents")
		+mySection("(co-)intuitionistic logics")
			p keywords: substructural logic, ordered logic, linear logic, intuitionistic logic, duality, natural deduction
			details
				object(data="files/coint.pdf", type="application/pdf", width="100%", height="1080")
