extend /_layout.pug

block head
  - const title = "性に關する諸宣言"

block main
  p 以下では "しかる" と "しかるべし" を區別せず
  ul
    li 性に基づく差別は倫理的に許容されず
      ul
        li 全ての差別が許容せられざる故に
        li 屬性Xへの差別の禁止はXの{先天性, 非可塑性}に關はらず
    li 性別は性#[+ruby("激素", "hormone")]とその影響を強く受くる身體部位が決定する屬性なり
    li 性別の集合は二元ならず, 有限集にすらあらず
    li 醫療上の要請を除き, 誰も性別の開示を強制されず
    li ‹性指向›と性嗜好は同一概念なり, 前者は後者に優越せず
    li 性嗜好は變更可能なり
    li #[+ruby("變性別", "transgender")]は己の性別に違和を持つ者なり
      ul
        li ‹心の性別›が肉體のそれと異なる人ならず
        li {心, 服裝}に性別は無し
