extend /_layout.pug

block head
	- const title = "vietnamese"
	style.
		textarea {
			width: 45%;
			height: 640px;
		}

	script.
		document.addEventListener("DOMContentLoaded", () => {
			const value0 = document.getElementById("0").value
			value1 = value0
				.toLowerCase()
				.replace(/ngh?/g, "ŋ")
				.replace(/gh/g, "g")
				.replace(/nh/g, "ɲ")
				.replace(/c(?!h)/g, "k")
				.replace(/ch/g, "c")
				.replace(/tr/g, "ṭ")
				.replace(/s/g, "ṣ")
				.replace(/x/g, "s")

				.replace(/qu/g, "ku")

				.replace(/\u0300(\p{L}?)/ug, "$1⁺⁰")
				.replace(/\u0301(\p{L}?)/ug, "$1⁻¹")
				.replace(/\u0309(\p{L}?)/ug, "$1⁺¹")
				.replace(/\u0303(\p{L}?)/ug, "$1⁻²")
				.replace(/\u0323(\p{L}?)/ug, "$1⁺²")
				.replace(/(?<=\p{L}) /ug, "⁻⁰ ")

				.replace(/o(?=[ae])/g, "u")

				.replace(/ây/g, "âi")
				.replace(/ăy/g, "ăi")
				.replace(/au/g, "ău")

				.replace(/y/g, "i")

				.replace(/ao/g, "au")
				.replace(/eo/g, "eu")

				.replace(/ư/g, "w")
				.replace(/ơ/g, "ə")
				.replace(/â/g, "ə̆")
				.replace(/e/g, "æ")
				.replace(/ê/g, "e")
				.replace(/o/g, "ꜵ")
				.replace(/ô/g, "o")

				.normalize("NFC")

			const ta1 = document.getElementById("1")
			ta1.value = value1
		})

block main
	textarea#0.
		## Điều 1
		Tất cả mọi người sinh ra đều được tự do và bình đẳng về nhân phẩm và quyền.
		Mọi con người đều được tạo hoá ban cho lý trí và lương tâm và cần phải đối xử với nhau trong tình bằng hữu.

	textarea#1