extend /_layout.pug

mixin tdsPl(xs)
	for x in xs
		td(data-pl=x)

block head
	- const title = "polish"
	- const tags = ["draft"]

block main
	+section("orthography")
		input(type="checkbox", checked)
		label iotated
		.textareas
			textarea#0.
				# POWSZECHNA DEKLARACJA PRAW CZŁOWIEKA
				## Artykuł 1
				Wszyscy ludzie rodzą się wolni i równi pod względem swej godności i swych praw.
				Są oni obdarzeni rozumem i sumieniem i powinni postępować wobec innych w duchu braterstwa.

				## Artykuł 2
				Każdy człowiek posiada wszystkie prawa i wolności zawarte w niniejszej Deklaracji bez względu na jakiekolwiek różnice rasy, koloru, płci, języka, wyznania, poglądów politycznych i innych, narodowości, pochodzenia społecznego, majątku, urodzenia lub jakiegokolwiek innego stanu.

				Nie wolno ponadto czynić żadnej różnicy w zależności od sytuacji politycznej, prawnej lub międzynarodowej kraju lub obszaru, do którego dana osoba przynależy, bez względu na to, czy dany kraj lub obszar jest niepodległy, czy też podlega systemowi powiernictwa, nie rządzi się samodzielnie lub jest w jakikolwiek sposób ograniczony w swej niepodległości.
			textarea#1
			textarea#2

		table
			tr
				th
				td ꙑ
				td є
				td а
				td о
				td у
				td ѧ
				td ѫ
			tr
				th ь
				td і
				td ѥ
				td ꙗ
				td ю
				td ѵ
				td ѩ
				td ѭ

	+section("grammar")
		table.category
		tr
			td(rowspan=5) noun
			td(rowspan=3) masculine
			td(rowspan=2) animate
			td personal
		tr
			td impersonal
		tr
			td(colspan=2) inanimate
		tr
			td(colspan=3) neuter
		tr
			td(colspan=3) feminine

		+section("pronoun")
			.tables
				table
					tr
						th
						th(colspan=2) i
						th(colspan=2) thou
						th(colspan=5) it
						th(colspan=2) what
					tr
						th
						for i in [0, 1]
							th Sg
							th Pl
						th(colspan=3) Sg
						th(colspan=2) Pl
						th(colspan=2) Sg
					tr
						th
						th(colspan=2)
						th(colspan=2)
						th M
						th N
						th F
						th P
						th Ip
						th P
						th Ip
					tr
						th N
						+tdsPl(["ja", "my", "ty", "wy"])
						+tdsPl(["on", "ono", "ona", "oni", "one"])

						td(data-pl="kto")
						td(data-pl="co", rowspan=2)
					tr
						th A
						td(data-pl="mnie", rowspan=4)
						td(data-pl="nas", rowspan=3)
						td(data-pl="cię", rowspan=2)
						td(data-pl="was", rowspan=3)

						td(data-pl="jego", rowspan=2, style="border-right: none;")
						td(data-pl="je")
						td(data-pl="ją")
						td(data-pl="ich", rowspan=3, style="border-right: none;")
						td(data-pl="je")

						td(data-pl="kogo", rowspan=2)
					tr
						th G
						td(style="border-left: none")
						td(data-pl="jej", rowspan=3)
						td(data-pl="", rowspan=2, style="border-left: none")

						td(data-pl="czego")
					tr
						th L
						td(data-pl="tobie")

						td(data-pl="im", colspan=2)

						td(data-pl="kom")
						td(data-pl="czym")
					tr
						th D
						+tdsPl(["nam", "ci", "wam"])

						td(data-pl="jemu", colspan=2)
						td(data-pl="im", colspan=2)

						td(data-pl="komu")
						td(data-pl="czemu")
					tr
						th I
						+tdsPl(["mną", "nami", "tobą", "wami"])

						td(data-pl="im", colspan=2)
						td(data-pl="ją")
						td(data-pl="imi", colspan=2)

						+tdsPl(["kom", "czym"])

		+section("noun")
			.tables
				table.pl-table
					caption brother, personal
					tr
						th
						th Sg
						th Pl
					tr
						th N
						td brat
						td bracia
					tr
						th AG
						td brata
						td braci
					tr
						th V
						td(rowspan=2) bracie
						td bracia
					tr
						th L
						td braciach
					tr
						th D
						td bratu
						td braciom
					tr
						th I
						td bratem
						td braćmi

				table.pl-table
					caption house, inanimate
					tr
						th
						th Sg
						th Pl
					tr
						th NA
						td dom
						td(rowspan=2) domy
					tr
						th V
						td(rowspan=3) domu
					tr
						th L
						td domach
					tr
						th G
						td domów
					tr
						th D
						td domowi
						td domom
					tr
						th I
						td domem
						td domami
				table.pl-table
					caption word, neuter
					tr
						th
						th Sg
						th Pl
					tr
						th NVA
						td słowo
						td słowa
					tr
						th L
						td słowje
						td słowach
					tr
						th D
						td słowu
						td słowam
					tr
						th G
						td słowa
						td słowow
					tr
						th I
						td slowom
						td slowami

				table.pl-table
					caption crow, feminine
					tr
						th
						th Sg
						th Pl
					tr
						th N
						td wrona
						td(rowspan=3) wrony
					tr
						th A
						td wronę
					tr
						th V
						td wrono
					tr
						th L
						td(rowspan=2) wronie
						td wronach
					tr
						th D
						td wronom
					tr
						th G
						td wrony
						td wron
					tr
						th I
						td wroną
						td wronami

		+section("verb")
			table
				caption to be, imperfective
				tr
					th
					th(data-pl="ja")
					th(data-pl="ty")
					th(data-pl="on")
					th(data-pl="my")
					th(data-pl="wy")
					th(data-pl="oni")
				tr
					th present
					+tdsPl(["jestem", "jesteś", "jest", "jesteśmy", "jesteście", "są"])
				tr
					th future
					+tdsPl(["będę", "będziesz", "będzie", "będziemy", "będziecie", "będą"])
				tr
					th imperative
					+tdsPl(["", "bądź", "", "bądźmy", "bądźcie", ""])
				tr
					th perfect
					+tdsPl(["byłem", "byłeś", "był", "byliśmy", "byliście", "byli"])

	+section("sentence")
		table
			tr
				td
					| my friend speaks.
					br
					span.pl mój przyjaciel mówi.
			tr
				td
					| i like my friend.
					br
					span.pl lubię mojego przyjaciela.
			tr
				td
					| i envy my friend.
					br
					span.pl zazdroszczę mojego przyjaciela.
			tr
				td
					| i trust my friend.
					br
					span.pl ufam mojemu przyjacielowi
			tr
				td
					| i think of my friend.
					br
					span.pl myślę o moim przyjacielu.
			tr
				td
					| i travel with my friend.
					br
					span.pl podróżuję z moim przyjacielem.

	+section("vocabulary")
		table
			-
				const xss = [
					["parent", "rodzic", "P"],
					["child", "dziecko", "N"],
					["sibling", "rodzeństwo", "N"],
					["spouse", ""],
					["", ""],
				]

			for xs in xss
				tr
					td= xs[0]
					td(data-pl=xs[1])
					td= xs[2]
