300&display=swap");
@font-face {
  src: local("YuGothic");
  font-family: 'YuGothic';
  font-weight: lighter;
  unicode-range: U+1B001, U+30A8; }

@font-face {
  src: url(/assets/fonts/MonomakhUnicode.otf) format("opentype");
  font-family: 'Monomakh';
  font-weight: lighter;
  unicode-range: U+0400-04FF, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: "Nishiki Kana";
  src: url(/assets/fonts/nishiki-kana.otf) format("opentype");
  unicode-range: U+1B000, U+1B001, U+30A8; }

@font-face {
  font-family: "tri";
  src: url(/work/font/tri.woff2) format("woff2");
  font-style: normal;
  font-weight: normal; }

* {
  box-sizing: border-box; }

.center {
  margin-left: auto;
  margin-right: auto; }

.tables table {
  display: inline-block;
  vertical-align: top; }

.tables table:not(:first-of-type) {
  margin-left: 0; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #DDD;
  background-color: #000;
  font-family: "Nishiki Kana", "Noto Sans", "Noto Sans TC", sans-serif;
  font-weight: 100; }

main {
  margin: 0;
  padding: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 240px - 32px);
  overflow: auto;
  margin-left: 272px;
  padding: 32px;
  font-size: inherit;
  white-space-collapsing: discard; }
  main:not(.vertical) {
    padding-left: 0; }
  main.vertical {
    writing-mode: vertical-lr; }
  main article {
    margin: 0;
    padding: 0; }

nav {
  z-index: 50;
  width: 240px;
  height: 100%;
  margin: 0;
  position: fixed;
  border-right: 1px #DDD solid;
  top: 0;
  overflow: scroll; }
  nav #menu ul {
    margin-top: 32px; }
  nav ul {
    margin-left: 16px;
    padding-left: 0; }
  nav #nav-in {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    padding: 0;
    display: inline-block; }
    nav #nav-in #datetime {
      text-align: center;
      font-family: "Source Code Pro", monospace;
      padding: 0;
      margin: 0;
      margin-bottom: 32px;
      width: 100%;
      text-align: center; }

main section {
  margin-block-end: 32px; }
  main section section {
    margin-block-end: 0;
    overflow-x: auto; }

section, .my-div {
  margin: 0;
  padding: 0;
  padding-inline-start: 32px;
  border: solid #DDD;
  border-width: 1px 0 0 1px; }
  section:last-child, .my-div:last-child {
    margin-block-end: 0; }
  section section, section .my-div, .my-div section, .my-div .my-div {
    margin-block-start: 32px; }
  section h1, .my-div h1 {
    margin: 0;
    margin-block-end: 32px;
    font-weight: inherit;
    font-size: inherit; }

section {
  padding-block-start: 32px; }

.my-div {
  margin-block-end: 32px; }
  .my-div .my-div {
    margin-block-end: 0; }

.tile section {
  display: inline-block;
  width: fit-content;
  margin-inline-end: 32px;
  vertical-align: top; }

figure {
  display: flex;
  justify-content: space-around;
  align-items: center; }

a {
  color: #DDD;
  text-decoration-color: #FFF4;
  text-decoration-thickness: 4px; }

table {
  margin: 16px;
  border-collapse: collapse;
  border-block-start: 1px solid;
  border-inline-start: 1px solid; }
  table th {
    font-weight: normal;
    text-align: center; }
  table td {
    text-align: left !important; }
    table td:not([colspan="1"]) {
      text-align: center; }
  table th, table td {
    padding: 8px; }
  table tr + tr {
    border-block-start: 1px solid #444; }
  table.c td {
    text-align: center; }
  table th.v {
    vertical-align: bottom;
    text-align: center; }
    table th.v span {
      writing-mode: vertical-lr; }
  table.transpose tr {
    display: block;
    float: left; }
  table.transpose th, table.transpose td {
    display: block; }
  table.transpose td + td, table.transpose td + th, table.transpose th + td, table.transpose th + th {
    border-block-start: 1px solid rgba(255, 255, 255, 0.25); }
  table.transpose tr + tr {
    border-inline-start: 1px solid rgba(255, 255, 255, 0.25); }

ul, ol {
  text-align: left;
  list-style-type: square;
  list-style-position: outside;
  margin: 0;
  margin-left: 1.5em;
  padding-left: 0; }

textarea {
  font: inherit;
  background-color: inherit;
  color: inherit; }

input[type="checkbox"] {
  vertical-align: middle; }

.tags {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  float: right; }
  .tags .tag {
    clear: both;
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    padding: 4px;
    font-size: 80%;
    border: 1px solid;
    border-radius: 4px; }
    .tags .tag:first-child {
      margin-left: 0; }

p {
  margin-top: 8px;
  margin-bottom: 0; }

details:focus, summary:focus {
  outline: none; }

ruby {
  ruby-align: center; }

#logo {
  text-align: center; }
  #logo svg {
    margin: 0; }

.textareas {
  padding: 0;
  margin: 0;
  white-space-collapse: discard;
  display: flex; }
  .textareas textarea {
    width: 50%;
    height: 320px;
    margin: 0;
    outline: none;
    resize: none; }
    .textareas textarea:not(:first-of-type) {
      border-left: none; }