include /_mixins.pug

block vars

doctype html
html(lang="en-GB")
	head
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104159380-5"></script>
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-104159380-5');

		meta(charset="UTF-8")
		title= title
		link(href="/style.css", rel="stylesheet")

	body
		article
			block main

			+mySection
				+mySection("donation")
					p You are a lifesaver ............

					ul
						li Kyash
							ul
								li: a(href="https://kyash.me/payments/RCSXs7ONA4loCnisEOv8I6qztTHb") 100 JPY
								li: a(href="https://kyash.me/payments/M9LzwzrymxS5fKc7iKGsu393wGqz") 500 JPY
								li: a(href="https://kyash.me/payments/vVdbpbp6QVs3nWSKmlbNAoqSk13z") 1000 JPY
								li: a(href="https://kyash.me/payments/1JZA8P28lkTG3F32xcDxaQTfI5H1") 5000 JPY
						li: a(href="https://www.pixiv.net/fanbox/creator/13912025") pixivFANBOX

				+mySection("comment")
					div(id="disqus_thread")
					script.
						var disqus_config = function () {
							this.page.url = "http://sumi.space";
							this.page.identifier = "sumi";
						};
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://sumi-2.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
					noscript
						| Please enable JavaScript to view the
						a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.