include /_mixins.pug

block vars

doctype html
html(lang="en-GB")
	head
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104159380-5"></script>
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-104159380-5');

		meta(charset="UTF-8")
		title= title
		link(href="/style.css", rel="stylesheet")

	body
		menu
			center
				img#img-menu(src="images/sumi.png")

			ul
				li
					a(href="/") sumi
					ul
						li: a(href="/suzuri") suzuri
						li: a(href="/documents") documents

		article
			div(align="right")
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true" data-via="melanophil">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			block main

			+mySection("comment")
				div(id="disqus_thread")
				script.
					var disqus_config = function () {
						this.page.url = "http://sumi.space";
						this.page.identifier = "sumi";
					};
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://sumi-2.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				noscript
					| Please enable JavaScript to view the
					a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.