extend /_layout.pug

block head
	-
		const title = author.id;
		const tags = ["language=\"english reduce'en\""];
		const isRoot = true;

block main
	p website introduce auþor sumi and work of he.

	mixin entry(year, day, path, comment)
		tr
			td=year
			td=day
			td: a(href=path)= path
			td= comment

	center
		table
			caption history
			tr
				th year
				th day
				th path
				th revision
			+entry(12021, 150, "author", "add vertical page. remove mobile option.")
			+entry(12021, 146, "lang/tr", "add turkish romanization.")
			+entry(12021, 144, ".", "add history of revision.")
