extend /_layout.pug

block head
	-
		const title = author.id
		const tags = ["language='english analytic'"]
		const undot = true

block main
	p.undot website introduce auþor #{author.id} and work of ve.