extend /_layout.pug

block head
	-
		const title = author.name.id
		const tags = ["language='english analytic'"]
		const undot = true


block main
	p þis website introduce auþor #{author.name.id} and work of ve.