extend /_layout.pug

block main
	+mySection("sumi")
		+mySection("icon")
			figure
				img#image-icon(src="/images/sumi.png", alt="the icon of sumi")

		+mySection("names")
			ul
				li sumi
				li μελαν (melan)

		+mySection("ideologies"): ul
			p (!) i am temporarily a moral nihilist and therefore ignore this section.

			li
				del determinism
				| &nbsp;
				del physicalism
				| &nbsp;(i deny both free will and determinism. what should i call it?)
			li intersectional veganism
			li antinatalism
			li antimonogamism
			li
				del social liberalism
				| &nbsp; egalitarianism (?)

		+mySection("sexuality")
			ul
				li cisgender
				li androsexual
				li androromantic
				li polyamorous

		+mySection("interests")
			+mySection("languages")
				+mySection("human")
					dl
						dt 0th
						dd japanese
						dt 1st
						dd english (B2-C1)
						dt to learn
						dd: ul
							li lojban
							li lingua franca nova
							li german (A1)
							li french
							li koine
							li taiwanese mandarine
							li korean

				+mySection("programming")
					dl
						dt begin used
						dd: ul
							li Python
							li Haskell
							li Scala
							li Lean Prover
						dt to learn
						dd: ul
							li D
							li Coq
							li Isabelle

			+mySection("computer science")
				ul
					li λ-calculus
					li substructural logics
					li proof theory
					li category theory

			+mySection("accounts")
				ul
					li: a(href="https://twitter.com/intent/user?user_id=759648849786920960") Twitter
					// li: a(href="https://melanizo.tumblr.com/") Tumblr (deprecated)
					li: a(href="https://https://melanizo.blogspot.com/") Blogger
					li: a(href="https://www.amazon.co.jp/gp/profile/amzn1.account.AFZC3TDGALBO2HEX54WQK7PQ2DXA?ie=UTF8") Amazon
						ul: li: a(href="https://www.amazon.co.jp/registry/wishlist/13Q3VHTZE52OV") wishlists
					//li: a(href="https://peing.net/ja/sumi") Peing (deprecated)
					li: a(href="https://marshmallow-qa.com/sumi") Marshmallow
					li: a(href="https://www.pixiv.net/member.php?id=13912025") pixiv
						ul
							li: a(href="https://www.pixiv.net/fanbox/creator/13912025") FANBOX
							li: a(href="https://melanizo.booth.pm/") BOOTH

			+mySection("donation")
				p i am a poor student. any amount of money will be great help. thank you!
				figure: img#image-kyash(src="/images/kyash.png")

		+mySection("favourites")
			+mySection("music (by musicians)"): details: ul
				li 385
				li ACIDMAN
				li Amazarashi
				li Bon Jovi
				li BOOM BOOM SATELLITES
				li fox capture plan
				li H ZETTRIO
				li ichika
				li kimonos
				li King Gnu
				li LEO今井
				li METAFIVE
				li Mr.Children
				li Number Girl
				li Polyphia
				li Rammstein
				li School Food Punishment
				li SOUL’d OUT
				li tricot
				li ZAZEN BOYS
				li アルカラ
				li 大森靖子
				li 倉橋ヨエコ
				li ゲスの極み乙女。
				li サカナクション
				li 椎名林檎
				li 時速36km
				li 神聖かまってちゃん
				li 相対性理論
				li チャットモンチー
				li 東京事変
				li 西島尊大
				li ネクライトーキー
				li パスピエ
				li 八十八ヶ所巡礼
				li 平沢進
				li ピロカルピン
				li フジファブリック
				li フレデリック
				li ねごと
				li 凛として時雨

			+mySection("animes"): ul
				li 銀河機攻隊 マジェスティックプリンス
				li さらざんまい
				li プリティーリズム レインボーライブ

			+mySection("games"): ul
				li <ruby>蒼き雷霆<rt>アームドブルー</rt></ruby>ガンヴォルト
				li アイドリッシュセブン
				li ダンガンロンパV3
				li ファイナルファンタジーXIV
				li 女神異聞録デビルサバイバー
				li メギド72

			+mySection("novels"): details: ul(lang="ja-JP")
				li
				li 1984
				li Darren Shan
				li know
				li 魚住くんシリーズ
				li [映]アムリタ
				li 空の境界
				li 虐殺器官
				li 古典部シリーズ
				li 戯言シリーズ
				li 新世界より
				li 天帝シリーズ
				li ハーモニー
				li 一つの大陸の物語シリーズ
				li 凜一シリーズ

			+mySection("mangas")
				+mySection("boys' loves (by authors)"): details: ul(lang="ja-JP")
					li CTK
					li 青丸
					li アマミヤ
					li 阿弥陀しずく
					li 網野素
					li 鮎川ハル
					li 新井煮干し子
					li イイモ
					li イシノアヤ
					li 英数字
					li おまる
					li 織島ユポポ
					li 夏糖
					li 紀伊カンナ
					li 京山あつき
					li 巨小
					li 金魚鉢でめ
					li ぐりだそうむ
					li 伍堂なめ
					li こめり
					li 小指
					li さがの
					li さがのひお
					li 里つばめ
					li 志村貴子
					li 春泥
					li 橘ミズキ
					li 田中森よこた
					li たなと
					li つきづきよし
					li 東条さかな
					li 中田アキラ
					li 那梧なゆた
					li 夏野寛子
					li にたこ
					li にやま
					li ニャンニャ
					li 猫田リコ
					li 博士
					li 八川キュウ
					li はやりやまい
					li 日野雄飛
					li 平喜田ゆや
					li 藤谷陽子
					li フジマコ
					li 文川じみ
					li 古矢渚
					li 三坂ニウム
					li 三月エミ
					li 松本ノダ
					li ムノ
					li 柳沢ゆきお
					li ymz
					li ゆくえ浅葱
					li 湯煎温子
					li らくたしょうこ
					li 楽田トリノ
					li 倫敦巴里子
					li わかちこ

				+mySection("non-boys' loves"): details: ul(lang="ja-JP")
					li Landreaall
					li 青のフラッグ
					li 或るアホウの一生
					li ヴォイニッチホテル
					li 彼方のアストラ
					li しまなみ誰そ彼
					li 昭和元禄落語心中
					li スピリット・サークル
					li ダンジョン飯
					li はしっこアンサンブル
					li ブルーピリオド
					li 魔法が使えなくても
					li メイドインアビス
					li めしにしましょう
					li ロッキンユー!!!