extend /_layout.pug

block head
	-
		const title = author.id
		const tags = ["language='english analytic'"]
		const isRoot = true

block main
	p website introduce auþor sumi and his work.

	mixin entry(year, day, path, comment)
		tr
			td=year
			td=day
			td: a(href=path)= path
			td= comment

	center
		table
			caption history
			tr
				th year
				th day
				th path
				th revision
			+entry(12021, 144, "/", "add history of revision.")