extend /_layout.pug

block head
	-
		const title = author.id;
		const tags = ["language=\"english reduce'en\""];
		const isRoot = true;

block main
	p ÞIS WEBSITE INTRODUCE AUÞOR SUMI AND WURK OF HE.

	mixin entry(year, day, path, comment)
		tr
			td=year
			td=day
			td: a(href=path)= path
			td= comment

	table.center
		caption history
		tr
			th year
			th day
			th path
			th revision
		+entry(12021, 213, "lang/la-var", "ADD LATIN ARTIFICIAL DIALECT.")
		+entry(12021, 195, "lang/bo", "ADD TIBETAN ROMANISATION.")
		+entry(12021, 195, "lang/interslavic", "FIX INTERSLAVIC DIALECT.")
		+entry(12021, 187, "lang/bn", "ADD BENGALI ROMANISATION.")
		+entry(12021, 153, "lang/ja", "ADD JAPANESE ARTIFICIAL DIALECT.")
		+entry(12021, 150, "author", "ADD VERTICAL PAGE. REMOVE MOBILE OPTION.")
		+entry(12021, 146, "lang/tr", "ADD TURKISH ROMANISATION.")
		+entry(12021, 144, ".", "ADD HISTORY OF REVISION.")
