@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Devanagari&family=Noto+Sans+Display&display=swap')

body
  font-family: "Noto Sans Devanagari", "Noto Sans Display", "Noto Sans"

  h1
    font-family: inherit
    font-weight: inherit
  textarea, select, option, table, td
    font: inherit

  textarea
    font-size: inherit
    background-color: transparent
    width: 50%
    height: 100%
    resize: none

    &:not(:first-of-type)
      border-left: none

  select, option
    color: inherit

  table
    margin: 0 auto
    th
      font-weight: normal
