extend /_layout.pug

block head
	- const title = "kana"

block main
	ul
		li: a(href="alphabet") unicode alphabet converter
		//li: a(href="date?b=16") 配信畫面內表示用時計
		li: a(href="kana") kana converter
