extend /_layout.pug

block head
	- const title = "miscellaneous"
	- const vertical = true

block main
	ul
		li: a(href="alphabet") unicode alphabet converter
		li: a(href="date?b=16&p=4") 配信畫面內表示用時計
