extend /_layout.pug

block head
	- const title = "glagolitic"
	- const tag = ["draft"]

block main
	//Ⱋ Щ Sht

	table.center
		+trs([
			["Ⰹ Ι Ji, Ⰻ И I", "Ⱛ Ѵ Y", "Ⱆ У U, Ⱓ Ю Ju"],
			["Ⱐ Ь J", "", "Ⱏ Ъ V"],
			["Ⰵ E Э", "", "Ⱁ О O, Ⱖ Ё Jo"],
			["", "", "Ⱉ Ѡ	Ō"],
			["Ⱔ Ѧ Ę, Ⱗ Ѩ Ję", "", "Ⱘ Ѫ Ǫ, Ⱙ Ѭ Jǫ"],
			["Ⱑ Ѣ Æ", "", "Ⰰ A А"],
		])

	table.center
		+trs([
			["Ⰽ К K", "Ⰳ G Г", "Ⱈ Х X", "", "", "", ""],
			["Ⱍ Ч Č", "Ⰼ Ꙉ Ǯ", "Ⱎ Ш Š", "Ⰶ Ж Ž", "", "", ""],
			["Ⱌ Ц C", "Ⰷ Ѕ Ʒ", "Ⱄ С S", "Ⰸ З Z", "", "", ""],
			["Ⱅ Т T", "Ⰴ Д D", "Ⱚ Ѳ Þ", "", "Ⱀ Н N", "Ⰾ Л L", "Ⱃ Р R"],
			["Ⱂ П P", "Ⰱ Б B", "Ⱇ Ф F", "Ⰲ В W", "Ⰿ М M", "", ""],
		])
