extend /_layout.pug

block head
	- const title = "language"

block main
	p language and orthography.

	ul
		li: a(href=`https://github.com/${author.github}/romanize-zho`).undot chinese
		li: a(href=`https://${author.github}.github.io/interslavic-minimal/`).undot interslavic minimal
		li: a(href=`https://${author.github}.github.io/romanize-san/`).undot sanskrit
		li
			a(href="https://cdpn.io/sumigv/debug/wvzJojO/dGMXWjJQwBgk") polish
			ul
				li: a(href="nat/pl/infl") inflection
		li: a(href="https://cdpn.io/sumigv/debug/poEyLrY/vPrKKgwXJeor") greek
		li: a(href="https://cdpn.io/sumigv/debug/WNGveym/dGMXWjJDORGk") russian

	ul
		li: a(href=`https://github.com/${author.github}/cmn-yue/tree/dev`) chinese-and-lojban-based constructed language (work in progress)