extend /_layout.pug

block head
	- const title = "language"

block main
	p language and orthography.

	ul
		li: a(href=`https://github.com/${author.github}/chinese`) chinese
		li: a(href=`https://cdpn.io/sumigv/debug/MWjGWmo/yPMJjRGwyOZM`) interslavic
		li: a(href=`https://${author.github}.github.io/interslavic-minimal/`) interslavic minimal
		li: a(href=`https://${author.github}.github.io/romanize-san/`) sanskrit
		li
			a(href="https://cdpn.io/sumigv/debug/wvzJojO/dGMXWjJQwBgk") polish
			ul
				li: a(href="nat/pl/infl") inflection
		li: a(href="https://cdpn.io/sumigv/debug/poEyLrY/vPrKKgwXJeor") greek
		li: a(href="https://cdpn.io/sumigv/debug/WNGveym/dGMXWjJDORGk") russian
