extend /_layout.pug

block head
	- const title = "language"
	- const tag = ["draft"]

block main
	p language and orthography.

	ul
		li: a(href=`https://${author.github}.github.io/english`) EN artificial dialect of english
		li: a(href="ja") JA artificial dialect of japanese
		li: a(href="ja/grammar") JA classical grammar
		li: a(href="pl") PL polish cyrillization
		li: a(href="interslavic") ISV dialect of interslavic
		li: a(href="tr") TR turkish orthography
		li: a(href="ka") KA georgian romanization
		li: a(href="hy") HY armenian romanization
		li: a(href="la") LA latin orthography
		li: a(href="la-var") LA latin artificial dialect
		li: a(href="bo") BO tibetan romanization
		li: a(href="bn") BN bengali romanization
		li: a(href="bn") GR greek romanization
		li: a(href=`https://github.com/${author.github}/cmn`) CMN mandarin romanization
		li: a(href=`https://github.com/${author.github}/yue`) YUE yue romanization
		li: a(href=`https://${author.github}.github.io/romanize-sa/`) SA sanskrit romanization
		//li: a(href="https://cdpn.io/sumigv/debug/WNGveym/dGMXWjJDORGk") russian
		//li: a(href="vn") vietnamese
