extend /_layout.pug

mixin aLi(s)
	li: a(href=s).undot= s

block head
	- const title = "language"

block main
	p language and orthography.

	ul
		li: a(href=`https://github.com/${author.github}/romanize-zho`).undot chinese
		li: a(href=`https://${author.github}.github.io/interslavic-minimal/`).undot interslavic minimal
		li: a(href=`https://${author.github}.github.io/romanize-san/`).undot sanskrit
		+aLi("polish")

	+section("standard spelling")
		.tables
			table
				+trs(
					[ ["q", "k g", "", "t d", "", "p b"]
					, ["", "x h", "ſ ʒ", "s z", "þ ð", "f w"]
					, ["", "ŋ", "ɲ", "n", "", "m"]
					, ["", "", "ȷ", "l r", "", "v"]
					, ["", "", "ı y", "", "", "u"]
					, ["", "", "e ø", "ə", "", "o"]
					, ["", "", "æ", "a", "", "ꜵ"]
					])
