head
  script(src="date.js")
  script.
    document.addEventListener("DOMContentLoaded", () => {
      const params = new URLSearchParams(window.location.search);
      const base = params.get("b") || 10;
      const precision = params.get("p") || (base == 16 ? 4 : 5);
      setInterval(() => {
        document.querySelector("body").innerText = dateString(...now(), base, precision)
      }, 100);
    })

  style.
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&family=Source+Code+Pro:wght@200&family=Source+Sans+Pro:wght@200&display=swap');

    html {
      background-color: transparent;
    }
    body {
      margin: 0;
      padding: 0;
      background-color: transparent;
      font-family: "Source Sans Pro";
      font-size: 144pt;
      margin: 0 auto;
    }

body
