extend /_layout.pug

block head
  - const title = "þree series"

block main
  textarea.
    c t p g d b ŋ n m i a u
    x s f h z w j r v e ə o
    C T P G D B Ŋ N M I A U
    X S F H Z W J R V E Ə O
    ^ - _ = | / \ . ' , : ; ! ?
    " ( ) { } < > [ ] @ & #
  canvas