extend /_layout.pug

block head
  - const title = "japanese grammar"
  - const tags = ["draft"]

block main
  table
    tr
      th
      th(colspan=2) 四
      th(colspan=2) （上）一
      th(colspan=2) （下）一
      th(colspan=2) （上）二
      th(colspan=2) （下）二
      th(colspan=2) カ
      th(colspan=2) サ
      th(colspan=2) ナ
      th(colspan=2) ラ
      th

    tr
      th 未然

      td 書か
      td kak-a

      td 見
      td mi-

      td 蹴
      td ke-

      td 落ち
      td ot-i

      td 求め
      td motom-e

      td こ
      td k-o

      td せ
      td s-e

      td 死な
      td sin-a

      td 有ら
      td ar-a

      td ず
    tr
      th 連用

      td 書き
      td kak-i

      td 見
      td mi-

      td 蹴
      td ke-

      td 落ち
      td ot-i

      td 求め
      td motom-e

      td き
      td k-i

      td し
      td s-i

      td 死に
      td sin-i

      td 有り
      td ar-i

      td て
    tr
      th 終止

      td 書く
      td kak-u

      td 見る
      td mi-ru

      td 蹴る
      td ke-ru

      td 落つ
      td ot-u

      td 求む
      td motom-u

      td く
      td k-u

      td す
      td s-u

      td 死ぬ
      td sin-u

      td 有り
      td ar-i

      td べし
    tr
      th 連體

      td 書く
      td kak-u

      td 見る
      td mi-ru

      td 蹴る
      td ke-ru

      td 落つる
      td ot-uru

      td 求むる
      td motom-uru

      td くる
      td k-uru

      td する
      td s-uru

      td 死ぬる
      td sin-uru

      td 有る
      td ar-u

      td なり
    tr
      th 已然

      td 書け
      td kak-e

      td 見れ
      td mi-re

      td 蹴れ
      td ke-re

      td 落つれ
      td ot-ure

      td 求むれ
      td motom-ure

      td くれ
      td k-ure

      td すれ
      td s-ure

      td 死ぬれ
      td sin-ure

      td 有れ
      td ar-e

      td ど
    tr
      th 命令

      td 書け
      td kak-e

      td 見
      td mi-

      td 蹴
      td ke-

      td 落ち
      td ot-i

      td 求め
      td motom-e

      td こ
      td k-o

      td せ
      td s-e

      td 死ね
      td sin-e

      td 有れ
      td ar-e

      td よ
