include /_mixins.pug

head
	script(src="script.js")
	link(rel="stylesheet", href="style.css")
	- const title = "interslavic"

body
	h1= title

	a(href="http://steen.free.fr/interslavic/") interslavic

	+section("正書法と音韻")
		table
			caption 母音
			+trs([
				["ラテン字", "キリル字", "音聲", "註釋", ],
				["I", "И", "[i ~ ɪ]", "",],
				["Y", "Ы", "[ɨ]", "硬いI"],
				["Ė", "Е", "[ɛ ~ ǝ]", "短いI。強いЬ。"],
				["E", "Е", "[ɛ ~ e]", "",],
				["Ę", "Ѧ", "[ʲæ]", "鼻音化したE"],
				["Ě", "Ѣ", "[ʲɛ]", "Aに近いE"],
				["A", "А", "[ɑ ~ a]", "",],
				["Å", "Ӑ", "[ɒ]", "Oに近いA",],
				["O", "О", "[ɔ ~ o]", "",],
				["Ȯ", "Ъ", "[ə ~ ʌ]", "短いU"],
				["Ų", "Ѫ", "[o ~ ʊ]", "鼻音化したO",],
				["U", "У", "[u]", "",],
			])

		table
			caption 子音
			+trs([
				["ラテン字", "キリル字", "音聲", "註釋"],
				["J", "Ј", "[j]", "",],
				["◌́", "Ь", "[ʲ]", "軟音化",],

				["K", "К", "[k]", "",],
				["G", "Г", "[g]", "",],
				["H", "Х", "[x]", "",],

				["Č", "Ч", "[t͡ʃ ~ t͡ʂ]", "Kと交替する（第一次口蓋化）",],
				["Ž", "Ж", "[ʒ ~ ʐ]", "Gと交替する（第一次口蓋化）"],
				["Š", "Ш", "[ʃ ~ ʂ]", "Hと交替する（第一次口蓋化）"],

				["C", "Ц", "[t͡s]", "Kと交替する（第二次口蓋化）"],

				["T", "Т", "[t]", "",],
				["D", "Д", "[d]", "",],
				["N", "Н", "[n]", "",],
				["L", "Л", "[l ~ ɫ]", "",],
				["R", "Р", "[r]", "",],
				["S", "С", "[s]", "",],
				["Z", "З", "[z]", "",],

				["Ć", "ћ", "[t͡ɕ]", "スラブ祖語 tj",],
				["Đ", "ђ", "[d͡ʑ]", "スラブ祖語 dj",],

				["P", "П", "[p]", "",],
				["B", "Б", "[b]", "",],
				["M", "М", "[m]", "",],
				["F", "Ф", "[f]", "",],
				["V", "В", "[v ~ ʋ]", "",],
			])

	+section("文法")
		+section("代名詞")
			table
				tr
					td(rowspan=3)
					td(rowspan=3) 自
					td(colspan=5) 單
					td(rowspan=3) 誰
					td(rowspan=3) 何
					td(colspan=4) 複
				tr
					td(rowspan=2) 1
					td(rowspan=2) 2
					td(colspan=3) 3
					td(rowspan=2) 1
					td(rowspan=2) 2
					td(colspan=2) 3
				tr
					td 陰
					td 中
					td 陽
					td 陰活
					td
				tr(style="border-top: 2px solid;")
					td N
					td
					td ја
					td ты
					td он
					td оно
					td она
					td кто
					td(rowspan=2) что
					td мы
					td вы
					td они
					td оне
				tr
					td A
					td сѧ
					td мѧ
					td тѧ
					td(rowspan=2, colspan=2) јего
					td јѫ
					td(rowspan=2) кого
					td(rowspan=3) нас
					td(rowspan=3) вас
					td(style="border-bottom: none;")
					td je
				tr
					td G
					td себе
					td мене
					td тебе
					td(rowspan=3) јеј
					td чего
					td(colspan=2, style="border-top: none; border-bottom: none") јих
				tr
					td P
					td(rowspan=2) собѣ
					td(rowspan=2) мнѣ
					td(rowspan=2) тобѣ
					td(colspan=2) јем
					td ком
					td чем
				tr
					td D
					td(colspan=2) јему
					td кому
					td чему
					td нам
					td вам
					td(colspan=2) јим
				tr
					td I
					td собојѫ
					td мнојѫ
					td тобојѫ
					td(colspan=2) јим
					td јејѫ
					td кым
					td чим
					td нами
					td вами
					td(colspan=2) јими

		+section("形容詞")
			table
				caption 疑問
				tr
					td
					td(colspan=4) 單
					td(colspan=2) 複
				tr
					td
					td(colspan=2) 陰
					td(rowspan=2) 中
					td(rowspan=2) 陽
					td(rowspan=2) 陰活
					td(rowspan=2) -
				tr
					td
					td 活
					td -
				tr(style="border-top: 2px solid;")
					td N
					td(style="border-right: none;")
					td(rowspan=2, style="border-left: none;") кој
					td(rowspan=2, style="border-bottom: solid 1px #444;") које
					td(style="border-bottom: solid 1px #444;") која
					td(style="border-bottom: solid 1px #444;") који
					td(rowspan=2, style="border-bottom: solid 1px #444;") које
				tr(style="border: none;")
					td A
					td(style="border-bottom: none;")
					td(style="border-bottom: solid 1px #444;") којѫ
					td(style="border-bottom: none;")
				tr(style="border-top: none;")
					td G
					td(style="border: none;") којего
					td(colspan=2, style="border-left: none;")
					td(rowspan=3) којеј
					td(style="border: none;") којих
					td(style="border-left: none; border-bottom: none;")
				tr
					td P
					td(colspan=3) којем
					td(colspan=3, style="border-top: none;")
				tr
					td D
					td(colspan=3) којему
					td(colspan=2) којим
				tr
					td I
					td(colspan=3) којим
					td којејѫ
					td(colspan=2) којими

		+section("動詞")
			table(data-stem="")
				caption である быти
				tr
					td(rowspan=2)
					td(colspan=3) 單
					td(colspan=3) 複
				tr
					td 1
					td 2
					td 3
					td 1
					td 2
					td 3
				+trs([
					["現在", "јесм", "јеси" , "јест"  , "јесмо" , "јесте" , "сѫт"  ,],
					["過去", "бѣх" , "бѣше" , "бѣше"  , "бѣхмо" , "бѣсте" , "бѣхѫ" ,],
					["假定", "бых" , "быс"  , "бы"    , "быхмо" , "бысте" , "бы"   ,],
					["未來", "бѫдѫ", "бѫдеш", "бѫде"  , "бѫдемо", "бѫдете", "бѫдѫт",],
					["命令", ""    , "бѫдј" , ""      , "бѫдјмо", "бѫдјте", ""     ,],
				])
				tr
					td 名詞
					td(colspan=6) бытьје

			table(data-stem="дѣла")
				caption する дѣлати
				tr
					td(rowspan=2)
					td(colspan=3) 單
					td(colspan=3) 複
				tr
					td 1
					td 2
					td 3
					td 1
					td 2
					td 3
				+trs([
					["現在", "дѣлајѫ", "дѣлајеш", "дѣлаје", "дѣлајемо", "дѣлајете", "дѣлајѫт",],
					["過去", "дѣлах" , "дѣлаше" , "дѣлаше", "дѣлахмо" , "дѣласте" , "дѣлахѫ" ,],
					["命令", ""      , "дѣлај"  , ""      , "дѣлајмо" , "дѣлајте" , ""       ,],
				])
				tr
					td 未來
					td(colspan=6) быти未來活用形 дѣлати
				tr
					td 假定
					td(colspan=6) быти假定活用形 дѣлал曲用形
				tr
					td 名詞
					td(colspan=6) дѣланьје
			table(data-stem="ид")
				caption 行く идти
				tr
					td(rowspan=2)
					td(colspan=3) 單
					td(colspan=3) 複
				tr
					td 1
					td 2
					td 3
					td 1
					td 2
					td 3
				+trs([
					["現在", "идѫ" , "идеш" , "иде"  , "идемо" , "идете" , "идѫт"  ,],
					["過去", "идех", "идеше", "идеше", "идехмо", "идесте", "идехѫ" ,],
					["命令", ""    , "иди"  , ""     , "идимо" , "идите" , ""      ,],
				])
				tr
					td 假定
					td(colspan=6) быти假定活用形 шел曲用形
				tr
					td 名詞
					td(colspan=6) иденьје

		+section("名詞")
			table(data-stem="брат")
				caption 兄弟（陰 活 硬）
				tr
					td
					td 單
					td 複
				tr
					td N
					td брат
					td брати
				tr
					td A
					td(rowspan=2) брата
					td(rowspan=2) братов
				tr
					td G
				tr
					td P
					td(rowspan=2) брату
					td братах
				tr
					td D
					td братам
				tr
					td I
					td братом
					td братами
				tr
					td V
					td брате
					td брати

			table(data-stem="мѫж")
				caption 夫（陰 活 軟）
				tr
					td
					td 單
					td 複
				tr
					td N
					td мѫж
					td мѫжи
				tr
					td A
					td(rowspan=2) мѫжа
					td(rowspan=2) мѫжев
				tr
					td G
				tr
					td P
					td(rowspan=2) мѫжу
					td мѫжах
				tr
					td D
					td мѫжам
				tr
					td I
					td мѫжем
					td мѫжами
				tr
					td V
					td мѫжу
					td мѫжи

			table(data-stem="дом")
				caption 家（陰 非活 硬）
				tr
					td
					td 單
					td 複
				tr
					td N
					td(rowspan=2) дом
					td(rowspan=2) домы
				tr
					td A
				tr
					td G
					td дома
					td домов
				tr
					td P
					td(rowspan=2) дому
					td домах
				tr
					td D
					td домам
				tr
					td I
					td домом
					td домами
				tr
					td V
					td доме
					td домы
			table(data-stem="крај")
				caption 國（陰 非活 軟）
				tr
					td
					td 單
					td 複
				tr
					td N
					td(rowspan=2) крај
					td(rowspan=2) краје
				tr
					td A
				tr
					td G
					td краја
					td крајев
				tr
					td P
					td(rowspan=2) крају
					td крајах
				tr
					td D
					td крајам
				tr
					td I
					td крајем
					td крајами
				tr
					td V
					td крају
					td краје

			table(data-stem="слов")
				caption 辭（中 硬）
				tr
					td
					td 單
					td 複
				tr
					td NV
					td(rowspan=2) слово
					td(rowspan=2) слова
				tr
					td A
				tr
					td G
					td слова
					td слов
				tr
					td P
					td(rowspan=2) слову
					td словах
				tr
					td D
					td словам
				tr
					td I
					td словом
					td словами
			table(data-stem="морј")
				caption 海（中 軟）
				tr
					td
					td 單
					td 複
				tr
					td N
					td(rowspan=2) морје
					td(rowspan=2) морја
				tr
					td A
				tr
					td G
					td морја
					td мореј
				tr
					td P
					td(rowspan=2) морју
					td морјах
				tr
					td D
					td морјам
				tr
					td I
					td морјем
					td морја

	+section("參考")
		ul
			li: a(href="http://steen.free.fr/interslavic/grammar.html") interslavic grammar
			li: a(href="https://interslavic-dictionary.com") interslavic dictionary
