#month li {
  text-align: left; }

#table-out table {
  white-space: nowrap; }

@media screen and (max-device-width: 720px) {
  #table-out {
    max-width: 100%;
    overflow-x: scroll; } }

#formal10, #formal16 {
  font-family: "Roboto Mono"; }
