extend /_layout.pug

block head
	- const title = "turkish"
	- const tag = ["draft"]

block main
	.textareas
		textarea#0.
			# İnsan hakları evrensel beyannamesi

			## Madde 1
			Bütün insanlar hür, haysiyet ve haklar bakımından eşit doğarlar.
			Akıl ve vicdana sahiptirler ve birbirlerine karşı kardeşlik zihniyeti ile hareket etmelidirler.

		textarea#1

	ul
		li consonant
			ul
				li ç, c ↦ ṭ, ḍ
				li ş, j ↦ ṣ, ẓ
				li y ↦ j
		li vowel
			ul
				li ı, i ↦ î, ǐ
				li a, e ↦ â, ǎ
				li o, ö ↦ ô, ǒ
				li u, ü ↦ û, ǔ
		li the same diacritics (ˆ or ˇ) in a row on vowels in a word can be omitted except the initial one.
			ul
				li öğrenci ↦ ǒğrǎncǐ ↦ ǒğranḍi
		li the initial vowel with no diacritic in a word is thought to be with ˆ by default.
			ul
				li arkadaş ↦ ârkâdâṣ ↦ ârkadaṣ ↦ arkadaṣ
