extend /_layout.pug

block head
	- const title = "czech"
	- const tags = ["draft"]

block main
	+section("orthography")
		.textareas
			textarea#0.
				# VŠEOBECNÁ DEKLARACE LIDSKÝCH PRÁV

				## Článek 1
				Všichni lidé rodí se svobodní a sobě rovní co do důstojnosti a práv.
				Jsou nadáni rozumem a svědomím a mají spolu jednat v duchu bratrství.

				## Článek 2
				Každý má všechna práva a všechny svobody, stanovené touto deklarací, bez jakéhokoli rozlišování, zejména podle rasy, barvy, pohlaví, jazyka, náboženství, politického nebo jiného smýšlení, národnostního nebo sociálního původu, majetku, rodu nebo jiného postavení.

				Žádný rozdíl nebude dále činěn z důvodu politického, právního nebo mezinárodního postavení země nebo území, k nimž určitá osoba přísluší, ať jde o zemi nebo území nezávislé nebo pod poručenstvím, nesamosprávné nebo podrobené jakémukoli jinému omezení suverenity.
			textarea#1
