extend /_layout.pug

block head
	- const title = "my language"

block main
	+section("phonology")
		table
			tr
				td k
				td c [g]
				td g [ŋ]
				td x [x ~ h]
				td h [ɣ ~ ɦ]
				td j
				td i
				td e
			tr
				td t
				td d
				td n
				td s
				td z
				td r
				td a
				td y [ə]
			tr
				td p
				td b
				td m
				td f
				td w [v]
				td v [w]
				td u
				td o